# Preparación de datos
## Importar bibliotecas

In [4]:
import polars as pl
import pandas as pd
import numpy as np
import scipy as sp
from datetime import date, time
import math
import re
from tqdm import tqdm
import json
import gzip
import zipfile
from unidecode import unidecode
import pyarrow.parquet as pq
import pyarrow as pa

import matplotlib.pyplot as plt

# Scraping
import openmeteo_requests
import requests_cache
from retry_requests import retry

from urllib.parse import urljoin

from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
from pathlib import Path
import requests

import seaborn as sns

In [9]:
from selenium import webdriver
from selenium.webdriver.firefox.service import Service
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
from pathlib import Path
import requests
import re


class DatasetDownloader:
    def __init__(self, base_url, download_folder, month):
        self.base_url = base_url
        self.download_folder = Path(download_folder)
        self.month = month
        self.download_folder.mkdir(parents=True, exist_ok=True)


    def scrape_siniestros_urls(self):
        options = Options()
        options.headless = True
        service = Service('/usr/local/bin/geckodriver')  # Ruta al ejecutable de GeckoDriver
        driver = webdriver.Firefox(service=service, options=options)

        driver.get(self.base_url)
        page_source = driver.page_source
        soup = BeautifulSoup(page_source, 'html.parser')
        links = soup.find_all('a')
        file_urls = {}
        for link in links:
            href = link.get('href')
            if href:
                href = href.strip()
                pattern = r'202\[2-3\]_\d{2}\.parquet$'
                match = re.search(pattern, href)
                if match and f'202{match.group()[-7:-5]}' == self.month:
                    if href.endswith(('.zip', '.xlsx', '.csv', '.gz', '.geojson', '.pdf', '.parquet')):
                        file_name = href.split('/')[-1]
                        file_urls[file_name] = href
        driver.quit()
        return file_urls

    def download_file(self, url, save_path):
        try:
            if not save_path.exists():
                response = requests.get(url, stream=True)
                response.raise_for_status()
                with open(save_path, 'wb') as f:
                    for chunk in response.iter_content(chunk_size=8192):
                        f.write(chunk)
                print(f"Archivo guardado: {save_path}")
            else:
                print(f"El archivo {save_path} ya existe, no es necesario descargarlo nuevamente.")
        except Exception as e:
            print(f"Error al descargar el archivo: {url}")
            print(f"Error details: {e}")

    def download_datasets(self):
        file_urls_dict = self.scrape_siniestros_urls()
        for file_name, url in file_urls_dict.items():
            save_path = self.download_folder / file_name
            self.download_file(url, save_path)

# Uso de ejemplo
base_url = 'https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page'
download_folder = '../datasets/raw'
month = '01'  # Cambiar a cualquier mes deseado en formato 'MM'
downloader = DatasetDownloader(base_url, download_folder, month)
downloader.download_datasets()

AttributeError: 'DatasetDownloader' object has no attribute 'download_datasets'

In [ ]:
from selenium import webdriver
from selenium.webdriver.firefox.service import Service
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
from pathlib import Path
import requests
import re


class DatasetDownloader:
    def __init__(self, base_url, download_folder, month):
        self.base_url = base_url
        self.download_folder = Path(download_folder)
        self.month = month
        self.download_folder.mkdir(parents=True, exist_ok=True)


    def scrape_siniestros_urls(self):
        options = Options()
        options.headless = True
        service = Service('/usr/local/bin/geckodriver')  # Ruta al ejecutable de GeckoDriver
        driver = webdriver.Firefox(service=service, options=options)

        driver.get(self.base_url)
        page_source = driver.page_source
        soup = BeautifulSoup(page_source, 'html.parser')
        links = soup.find_all('a')
        file_urls = {}
        for link in links:
            href = link.get('href')
            if href:
                href = href.strip()
                pattern = r'202\[2-3\]_\d{2}\.parquet$'
                match = re.search(pattern, href)
                if match and f'202{match.group()[-7:-5]}' == self.month:
                    if href.endswith(('.zip', '.xlsx', '.csv', '.gz', '.geojson', '.pdf', '.parquet')):
                        file_name = href.split('/')[-1]
                        file_urls[file_name] = href
        driver.quit()
        return file_urls

    def download_file(self, url, save_path):
        try:
            if not save_path.exists():
                response = requests.get(url, stream=True)
                response.raise_for_status()
                with open(save_path, 'wb') as f:
                    for chunk in response.iter_content(chunk_size=8192):
                        f.write(chunk)
                print(f"Archivo guardado: {save_path}")
            else:
                print(f"El archivo {save_path} ya existe, no es necesario descargarlo nuevamente.")
        except Exception as e:
            print(f"Error al descargar el archivo: {url}")
            print(f"Error details: {e}")

    def download_datasets(self):
        file_urls_dict = self.scrape_siniestros_urls()
        for file_name, url in file_urls_dict.items():
            save_path = self.download_folder / file_name
            self.download_file(url, save_path)

# Uso de ejemplo
base_url = 'https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page'
download_folder = '../datasets/raw'
month = '01'  # Cambiar a cualquier mes deseado en formato 'MM'
downloader = DatasetDownloader(base_url, download_folder, month)
downloader.download_datasets()

AttributeError: 'DatasetDownloader' object has no attribute 'download_datasets'

In [ ]:
from selenium import webdriver
from selenium.webdriver.firefox.service import Service
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
from pathlib import Path
import requests
import re


class DatasetDownloader:
    def __init__(self, base_url, download_folder, month):
        self.base_url = base_url
        self.download_folder = Path(download_folder)
        self.month = month
        self.download_folder.mkdir(parents=True, exist_ok=True)


    def scrape_siniestros_urls(self):
        options = Options()
        options.headless = True
        service = Service('/usr/local/bin/geckodriver')  # Ruta al ejecutable de GeckoDriver
        driver = webdriver.Firefox(service=service, options=options)

        driver.get(self.base_url)
        page_source = driver.page_source
        soup = BeautifulSoup(page_source, 'html.parser')
        links = soup.find_all('a')
        file_urls = {}
        for link in links:
            href = link.get('href')
            if href:
                href = href.strip()
                pattern = r'202\[2-3\]_\d{2}\.parquet$'
                match = re.search(pattern, href)
                if match and f'202{match.group()[-7:-5]}' == self.month:
                    if href.endswith(('.zip', '.xlsx', '.csv', '.gz', '.geojson', '.pdf', '.parquet')):
                        file_name = href.split('/')[-1]
                        file_urls[file_name] = href
        driver.quit()
        return file_urls

    def download_file(self, url, save_path):
        try:
            if not save_path.exists():
                response = requests.get(url, stream=True)
                response.raise_for_status()
                with open(save_path, 'wb') as f:
                    for chunk in response.iter_content(chunk_size=8192):
                        f.write(chunk)
                print(f"Archivo guardado: {save_path}")
            else:
                print(f"El archivo {save_path} ya existe, no es necesario descargarlo nuevamente.")
        except Exception as e:
            print(f"Error al descargar el archivo: {url}")
            print(f"Error details: {e}")

    def download_datasets(self):
        file_urls_dict = self.scrape_siniestros_urls()
        for file_name, url in file_urls_dict.items():
            save_path = self.download_folder / file_name
            self.download_file(url, save_path)

# Uso de ejemplo
base_url = 'https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page'
download_folder = '../datasets/raw'
month = '01'  # Cambiar a cualquier mes deseado en formato 'MM'
downloader = DatasetDownloader(base_url, download_folder, month)
downloader.download_datasets()

AttributeError: 'DatasetDownloader' object has no attribute 'download_datasets'

In [13]:
from selenium import webdriver
from selenium.webdriver.firefox.service import Service
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
from pathlib import Path
import requests
import re

class DatasetDownloader:
    def __init__(self, base_url, download_folder, month):
        self.base_url = base_url
        self.download_folder = Path(download_folder)
        self.month = month
        self.download_folder.mkdir(parents=True, exist_ok=True)

    def scrape_siniestros_urls(self):
        options = Options()
        options.headless = True
        service = Service('/usr/local/bin/geckodriver')
        service.start()  # Iniciar GeckoDriver manualmente

        options = Options()
        options.headless = True
        driver = webdriver.Firefox(service=service, options=options)

        driver.get(self.base_url)
        page_source = driver.page_source
        soup = BeautifulSoup(page_source, 'html.parser')
        links = soup.find_all('a')
        file_urls = {}
        for link in links:
            href = link.get('href')
            if href:
                href = href.strip()
                pattern = r'202\[2-3\]_\d{2}\.parquet$'
                match = re.search(pattern, href)
                if match and f'202{match.group()[-7:-5]}' == self.month:
                    if href.endswith(('.zip', '.xlsx', '.csv', '.gz', '.geojson', '.pdf', '.parquet')):
                        file_name = href.split('/')[-1]
                        file_urls[file_name] = href
        driver.quit()
        return file_urls
    
    def download_file(self, url, save_path):
        try:
            if not save_path.exists():
                response = requests.get(url, stream=True)
                response.raise_for_status()
                with open(save_path, 'wb') as f:
                    for chunk in response.iter_content(chunk_size=8192):
                        f.write(chunk)
                print(f"Archivo guardado: {save_path}")
            else:
                print(f"El archivo {save_path} ya existe, no es necesario descargarlo nuevamente.")
        except Exception as e:
            print(f"Error al descargar el archivo: {url}")
            print(f"Error details: {e}")

    def download_datasets(self):
        file_urls_dict = self.scrape_siniestros_urls()
        for file_name, url in file_urls_dict.items():
            save_path = self.download_folder / file_name
            self.download_file(url, save_path)
    # Los métodos download_file y download_datasets permanecen sin cambios

# Uso de ejemplo
base_url = 'https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page'
download_folder = '../datasets/raw'
month = '01'
downloader = DatasetDownloader(base_url, download_folder, month)
downloader.download_datasets()

WebDriverException: Message: Process unexpectedly closed with status 127

In [ ]:

class DatasetDownloader:
    def __init__(self, base_url, download_folder):
        self.base_url = base_url
        self.download_folder = Path(download_folder)
        # Asegúrate de que el directorio de descarga exista
        self.download_folder.mkdir(parents=True, exist_ok=True)

    def scrape_siniestros_urls(self):
        # Inicializar el navegador Selenium
        driver = webdriver.Chrome()  # Necesitarás el driver de Chrome. Descárgalo de https://sites.google.com/a/chromium.org/chromedriver/downloads

        # Obtener el contenido de la página web con Selenium
        driver.get(self.base_url)
        page_source = driver.page_source

        # Parsear el contenido con BeautifulSoup
        soup = BeautifulSoup(page_source, 'html.parser')
        links = soup.find_all('a')

        file_urls = {}
        for link in links:
            href = link.get('href')
            if href:
                # Eliminar espacios adicionales en los enlaces
                href = href.strip()
                if any(year in href for year in ['2022', '2023']) or 'taxi_zone_lookup' in href or 'taxi_zones' in href: #in ['2021', '2022', '2023']) 
                    if href.endswith(('.zip', '.xlsx', '.csv', '.gz', '.geojson', '.pdf', '.parquet')):
                        file_name = href.split('/')[-1]
                        file_urls[file_name] = href

        # Cerrar el navegador Selenium
        driver.quit()

        return file_urls
    
    def download_file(self, url, save_path):
        try:
            if not save_path.exists():
                response = requests.get(url, stream=True)
                response.raise_for_status()
                with open(save_path, 'wb') as f:
                    for chunk in response.iter_content(chunk_size=8192):
                        f.write(chunk)
                print(f"Archivo guardado: {save_path}")
            else:
                print(f"El archivo {save_path} ya existe, no es necesario descargarlo nuevamente.")
        except Exception as e:
            print(f"Error al descargar el archivo: {url}")
            print(f"Error details: {e}")

    def download_datasets(self):
        file_urls_dict = self.scrape_siniestros_urls()
        for file_name, url in file_urls_dict.items():
            save_path = self.download_folder / file_name
            self.download_file(url, save_path)


# Uso de ejemplo
base_url = 'https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page'
download_folder = '../datasets/raw'
downloader = DatasetDownloader(base_url, download_folder)
downloader.download_datasets()

In [3]:
# Ruta al archivo Parquet
ruta_archivo = "..\\datasets\\raw\\yellow_tripdata_2023-12.parquet"
ruta_archivo4 = "..\\datasets\\raw\\fhvhv_tripdata_2023-12.parquet"

# Leer el archivo Parquet en un DataFrame de Polars
df = pl.read_parquet(ruta_archivo)
df4 = pl.read_parquet(ruta_archivo4)

## Data Dictionary – Yellow Taxi Trip Records `data_dictionary_trip_records_yellow.pdf`

In [4]:
print("Modelo de datos de: yellow_tripdata_2023-12")
print("Cantidad de registros :", len(df), "Cantidad de las Columnas :", len(df.columns))
print("\n")
print("Schema")
print(df.schema)

Modelo de datos de: yellow_tripdata_2023-12
Cantidad de registros : 3376567 Cantidad de las Columnas : 19


Schema
OrderedDict([('VendorID', Int32), ('tpep_pickup_datetime', Datetime(time_unit='ns', time_zone=None)), ('tpep_dropoff_datetime', Datetime(time_unit='ns', time_zone=None)), ('passenger_count', Int64), ('trip_distance', Float64), ('RatecodeID', Int64), ('store_and_fwd_flag', String), ('PULocationID', Int32), ('DOLocationID', Int32), ('payment_type', Int64), ('fare_amount', Float64), ('extra', Float64), ('mta_tax', Float64), ('tip_amount', Float64), ('tolls_amount', Float64), ('improvement_surcharge', Float64), ('total_amount', Float64), ('congestion_surcharge', Float64), ('Airport_fee', Float64)])

In [5]:
df.head()

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ Airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ i64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2023-12-0 ┆ 2023-12-0 ┆ 0         ┆ … ┆ 1.0       ┆ 16.5      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:06:06  ┆ 00:15:47  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2023-12-0 ┆ 2023-12-0 ┆ 0         ┆ … ┆ 1.0       ┆ 17.15     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:22:26  ┆ 00:28:53  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2023-12-0 ┆ 2023-12-0 ┆ 2         ┆ … ┆ 1.0       ┆ 21.5      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:59:44  ┆ 01:13:22  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2023-12-0 ┆ 2023-12-0 ┆ 1         ┆ … ┆ 1.0       ┆ 12.2      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:22:17  ┆ 00:30:59  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2023-12-0 ┆ 2023-12-0 ┆ 2         ┆ … ┆ 1.0       ┆ 18.4      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:18:16  ┆ 00:25:32  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [6]:
# Leer el DataFrame df

# Obtener solo las columnas numéricas
numeric_columns = [col_name for col_name in df.columns if df[col_name].dtype.is_numeric()]

# Calcular estadísticas descriptivas solo para las columnas numéricas
descriptive_stats = df.select(numeric_columns).describe()

# Mostrar la tabla de estadísticas descriptivas
descriptive_stats

shape: (9, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ VendorID  ┆ passenger ┆ trip_dist ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ Airport_ │
│ ---       ┆ ---       ┆ _count    ┆ ance      ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ fee      │
│ str       ┆ f64       ┆ ---       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---      │
│           ┆           ┆ f64       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64      │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 3.376567e ┆ 3.196564e ┆ 3.376567e ┆ … ┆ 3.376567e ┆ 3.376567e ┆ 3.196564e ┆ 3.196564 │
│           ┆ 6         ┆ 6         ┆ 6         ┆   ┆ 6         ┆ 6         ┆ 6         ┆ e6       │
│ null_coun ┆ 0.0       ┆ 180003.0  ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 180003.0  ┆ 180003.0 │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 1.750038  ┆ 1.408162  ┆ 3.676258  ┆ … ┆ 0.975871  ┆ 28.541582 ┆ 2.269969  ┆ 0.13702  │
│ std       ┆ 0.435847  ┆ 0.910908  ┆ 154.15721 ┆ … ┆ 0.216968  ┆ 23.836938 ┆ 0.807815  ┆ 0.479978 │
│           ┆           ┆           ┆ 2         ┆   ┆           ┆           ┆           ┆          │
│ min       ┆ 1.0       ┆ 0.0       ┆ 0.0       ┆ … ┆ -1.0      ┆ -1094.05  ┆ -2.5      ┆ -1.75    │
│ 25%       ┆ 1.0       ┆ 1.0       ┆ 1.0       ┆ … ┆ 1.0       ┆ 15.96     ┆ 2.5       ┆ 0.0      │
│ 50%       ┆ 2.0       ┆ 1.0       ┆ 1.7       ┆ … ┆ 1.0       ┆ 21.4      ┆ 2.5       ┆ 0.0      │
│ 75%       ┆ 2.0       ┆ 2.0       ┆ 3.25      ┆ … ┆ 1.0       ┆ 31.56     ┆ 2.5       ┆ 0.0      │
│ max       ┆ 6.0       ┆ 9.0       ┆ 161726.1  ┆ … ┆ 1.0       ┆ 4269.16   ┆ 2.5       ┆ 1.75     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

## Data Dictionary – High Volume FHV Trip Records `data_dictionary_trip_records_hvfhs.pdf`

In [7]:
print("Modelo de datos de: yellow_tripdata_2023-12")
print("Cantidad de registros :", len(df4), "Cantidad de las Columnas :", len(df4.columns))
print("\n")
print("Schema")
print(df4.schema)

Modelo de datos de: yellow_tripdata_2023-12
Cantidad de registros : 20516297 Cantidad de las Columnas : 24


Schema
OrderedDict([('hvfhs_license_num', String), ('dispatching_base_num', String), ('originating_base_num', String), ('request_datetime', Datetime(time_unit='ns', time_zone=None)), ('on_scene_datetime', Datetime(time_unit='ns', time_zone=None)), ('pickup_datetime', Datetime(time_unit='ns', time_zone=None)), ('dropoff_datetime', Datetime(time_unit='ns', time_zone=None)), ('PULocationID', Int32), ('DOLocationID', Int32), ('trip_miles', Float64), ('trip_time', Int64), ('base_passenger_fare', Float64), ('tolls', Float64), ('bcf', Float64), ('sales_tax', Float64), ('congestion_surcharge', Float64), ('airport_fee', Float64), ('tips', Float64), ('driver_pay', Float64), ('shared_request_flag', String), ('shared_match_flag', String), ('access_a_ride_flag', String), ('wav_request_flag', String), ('wav_match_flag', String)])

In [8]:
df4.head()

shape: (5, 24)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ hvfhs_lic ┆ dispatchi ┆ originati ┆ request_d ┆ … ┆ shared_ma ┆ access_a_ ┆ wav_reque ┆ wav_matc │
│ ense_num  ┆ ng_base_n ┆ ng_base_n ┆ atetime   ┆   ┆ tch_flag  ┆ ride_flag ┆ st_flag   ┆ h_flag   │
│ ---       ┆ um        ┆ um        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ ---       ┆ ---       ┆ datetime[ ┆   ┆ str       ┆ str       ┆ str       ┆ str      │
│           ┆ str       ┆ str       ┆ ns]       ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ HV0003    ┆ B03404    ┆ B03404    ┆ 2023-11-3 ┆ … ┆ N         ┆ N         ┆ N         ┆ N        │
│           ┆           ┆           ┆ 0         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ 23:58:32  ┆   ┆           ┆           ┆           ┆          │
│ HV0003    ┆ B03404    ┆ B03404    ┆ 2023-12-0 ┆ … ┆ N         ┆ N         ┆ N         ┆ N        │
│           ┆           ┆           ┆ 1         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ 00:37:55  ┆   ┆           ┆           ┆           ┆          │
│ HV0003    ┆ B03404    ┆ B03404    ┆ 2023-11-3 ┆ … ┆ N         ┆ N         ┆ N         ┆ N        │
│           ┆           ┆           ┆ 0         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ 23:56:12  ┆   ┆           ┆           ┆           ┆          │
│ HV0003    ┆ B03404    ┆ B03404    ┆ 2023-12-0 ┆ … ┆ N         ┆ N         ┆ N         ┆ N        │
│           ┆           ┆           ┆ 1         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ 00:05:59  ┆   ┆           ┆           ┆           ┆          │
│ HV0003    ┆ B03404    ┆ B03404    ┆ 2023-12-0 ┆ … ┆ N         ┆ N         ┆ N         ┆ N        │
│           ┆           ┆           ┆ 1         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ 00:16:09  ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [9]:
# Leer el DataFrame df4

# Obtener solo las columnas numéricas
numeric_columns = [col_name for col_name in df4.columns if df4[col_name].dtype.is_numeric()]

# Calcular estadísticas descriptivas solo para las columnas numéricas
descriptive_stats = df4.select(numeric_columns).describe()

# Mostrar la tabla de estadísticas descriptivas
descriptive_stats

shape: (9, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ PULocatio ┆ DOLocatio ┆ trip_mile ┆ … ┆ congestio ┆ airport_f ┆ tips      ┆ driver_p │
│ ---       ┆ nID       ┆ nID       ┆ s         ┆   ┆ n_surchar ┆ ee        ┆ ---       ┆ ay       │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ge        ┆ ---       ┆ f64       ┆ ---      │
│           ┆ f64       ┆ f64       ┆ f64       ┆   ┆ ---       ┆ f64       ┆           ┆ f64      │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 2.0516297 ┆ 2.0516297 ┆ 2.0516297 ┆ … ┆ 2.0516297 ┆ 2.0516297 ┆ 2.0516297 ┆ 2.051629 │
│           ┆ e7        ┆ e7        ┆ e7        ┆   ┆ e7        ┆ e7        ┆ e7        ┆ 7e7      │
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 138.81076 ┆ 142.24707 ┆ 5.099173  ┆ … ┆ 1.052534  ┆ 0.212915  ┆ 1.252469  ┆ 20.25516 │
│           ┆ 3         ┆ 7         ┆           ┆   ┆           ┆           ┆           ┆ 5        │
│ std       ┆ 74.848461 ┆ 77.88767  ┆ 5.952491  ┆ … ┆ 1.333238  ┆ 0.700127  ┆ 3.60256   ┆ 17.44714 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 5        │
│ min       ┆ 1.0       ┆ 1.0       ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ -53.88   │
│ 25%       ┆ 75.0      ┆ 76.0      ┆ 1.56      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 8.89     │
│ 50%       ┆ 140.0     ┆ 141.0     ┆ 2.988     ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 15.01    │
│ 75%       ┆ 210.0     ┆ 216.0     ┆ 6.35      ┆ … ┆ 2.75      ┆ 0.0       ┆ 0.0       ┆ 25.44    │
│ max       ┆ 265.0     ┆ 265.0     ┆ 438.88    ┆ … ┆ 11.0      ┆ 6.9       ┆ 203.32    ┆ 1761.95  │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

## Identificador de Ubicaciones `taxi_zone_lookup.csv`

In [10]:
# Ruta al archivo Parquet
ruta_archivo = "..\\datasets\\raw\\taxi_zone_lookup.csv"
# Leer el archivo Parquet en un DataFrame de Polars
taxi_zone = pl.read_csv(ruta_archivo)

In [11]:
print("Modelo de datos de: tax_izone_lookup.csv ")
print("Cantidad de registros :", taxi_zone.shape[0], "Cantidad de las Columnas :", taxi_zone.shape[1])
print("\n")
print("Schema")
print(taxi_zone.schema)
print("\n")
taxi_zone.head(5)

Modelo de datos de: tax_izone_lookup.csv
Cantidad de registros : 265 Cantidad de las Columnas : 4


Schema
OrderedDict([('LocationID', Int64), ('Borough', String), ('Zone', String), ('service_zone', String)])

shape: (5, 4)
┌────────────┬───────────────┬─────────────────────────┬──────────────┐
│ LocationID ┆ Borough       ┆ Zone                    ┆ service_zone │
│ ---        ┆ ---           ┆ ---                     ┆ ---          │
│ i64        ┆ str           ┆ str                     ┆ str          │
╞════════════╪═══════════════╪═════════════════════════╪══════════════╡
│ 1          ┆ EWR           ┆ Newark Airport          ┆ EWR          │
│ 2          ┆ Queens        ┆ Jamaica Bay             ┆ Boro Zone    │
│ 3          ┆ Bronx         ┆ Allerton/Pelham Gardens ┆ Boro Zone    │
│ 4          ┆ Manhattan     ┆ Alphabet City           ┆ Yellow Zone  │
│ 5          ┆ Staten Island ┆ Arden Heights           ┆ Boro Zone    │
└────────────┴───────────────┴─────────────────────────┴──────────────┘

In [12]:
# Convertir el DataFrame de Polars a un objeto Arrow
arrow_table = taxi_zone.to_arrow()

# Guardar el objeto Arrow en un archivo Arrow
#pq.write_table(arrow_table, 'temperature.arrow')
pq.write_table(arrow_table, '../datasets/raw/taxi_zone.arrow')

##  API Variable meteorológica  `temperature_2m`

In [13]:
# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Definir las coordenadas de la ciudad de Nueva York # agregar los 5 estados 
latitude_nyc = 40.7128
longitude_nyc = -74.0060   

# Especificar el período de tiempo deseado
start_date = "2021-01-01"
end_date = "2023-12-31"

# Especificar las variables meteorológicas que deseas obtener (puedes agregar más si es necesario)
weather_variables = "temperature_2m"

# Construir los parámetros de la solicitud
params = {
    "latitude": latitude_nyc,
    "longitude": longitude_nyc,
    "start_date": start_date,
    "end_date": end_date,
    "hourly": weather_variables
}

# Realizar la solicitud a la API de Open-Meteo
url = "https://archive-api.open-meteo.com/v1/archive"
responses = openmeteo.weather_api(url, params=params)

# Procesar la respuesta
response = responses[0]
print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Procesar los datos meteorológicos por hora
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
    start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
    end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
    freq = pd.Timedelta(seconds = hourly.Interval()),
    inclusive = "left"
)}
hourly_data[weather_variables] = hourly_temperature_2m

hourly_dataframe = pd.DataFrame(data = hourly_data)

Coordinates 40.738136291503906°N -74.04254150390625°E
Elevation 32.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s

In [14]:
print("Modelo de datos de: open-meteo.com ")
print("Cantidad de registros :", hourly_dataframe.shape[0], "Cantidad de las Columnas :", hourly_dataframe.shape[1])
print("\n")
df = hourly_dataframe.rename(columns={'date': 'event_date'})
df.info()
print("\n")
df

Modelo de datos de: open-meteo.com
Cantidad de registros : 26280 Cantidad de las Columnas : 2


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   event_date      26280 non-null  datetime64[ns, UTC]
 1   temperature_2m  26280 non-null  float32
dtypes: datetime64[ns, UTC](1), float32(1)
memory usage: 308.1 KB

                     event_date  temperature_2m
0     2021-01-01 00:00:00+00:00           3.696
1     2021-01-01 01:00:00+00:00           3.496
2     2021-01-01 02:00:00+00:00           2.946
3     2021-01-01 03:00:00+00:00           0.946
4     2021-01-01 04:00:00+00:00           0.096
...                         ...             ...
26275 2023-12-31 19:00:00+00:00           6.396
26276 2023-12-31 20:00:00+00:00           6.296
26277 2023-12-31 21:00:00+00:00           5.796
26278 2023-12-31 22:00:00+00:00           4.396
26279 2023-12-31 23:00:00+00:00           3.446

[26280 rows x 2 columns]

In [15]:
# Encontrar la fecha máxima en la columna 'A'
fecha_maxima = df['event_date'].max()

print("Fecha máxima en la columna 'event_date	':", fecha_maxima)

Fecha máxima en la columna 'event_date	': 2023-12-31 23:00:00+00:00

In [16]:
# Encontrar la fecha máxima en la columna 'A'
fecha_maxima = df['event_date'].min()

print("Fecha máxima en la columna 'event_date	':", fecha_maxima)

Fecha máxima en la columna 'event_date	': 2021-01-01 00:00:00+00:00

In [17]:
# Convertir el DataFrame de Pandas a un DataFrame de Polars
df_polars = pl.from_pandas(df)

# Convertir el DataFrame de Polars a un objeto Arrow
arrow_table = df_polars.to_arrow()

# Guardar el objeto Arrow en un archivo Arrow
#pq.write_table(arrow_table, 'temperature.arrow')
pq.write_table(arrow_table, '../datasets/raw/temperature.arrow', compression='zstd')

In [18]:
#https://www.iea.org/reports/global-energy-review-co2-emissions-in-2021-2
#https://www.kaggle.com/datasets/lobosi/c02-emission-by-countrys-grouth-and-population?resource=download

##  Kaggle Countries CO2 Emission by each Countrys Energy Con/Prod, GDP, Population and more `archive.zip`

[Descarga Manual archive.zip](https://www.kaggle.com/datasets/lobosi/c02-emission-by-countrys-grouth-and-population)<br>

Almacenamiento de `archive.zip` en el Directorio: .\\datasets\\raw\\archive.zip

In [19]:
# Ruta al archivo ZIP
ruta_zip = '..\\datasets\\raw\\archive.zip'

# Lista para almacenar los datos de los archivos CSV
datos_csv = []

# Abrir el archivo ZIP y leer los archivos CSV
with zipfile.ZipFile(ruta_zip, 'r') as zip_ref:
    # Recorrer cada archivo en el ZIP
    for nombre_archivo in zip_ref.namelist():
        # Extraer el archivo
        with zip_ref.open(nombre_archivo) as archivo_csv:
            # Leer el archivo CSV y almacenar los datos en un DataFrame
            datos = pd.read_csv(archivo_csv, sep=',', encoding='utf-8')
            # Agregar los datos ala lista
            datos_csv.append(datos)

# Concatenar todos los DataFrames en uno solo
df_emisiones = pd.concat(datos_csv, ignore_index=True)

In [20]:
print("Modelo de datos de: archive.zip")
print("Cantidad de registros :", df_emisiones.shape[0], "Cantidad de las Columnas :", df_emisiones.shape[1])
print("\n")
df_emisiones.info()
print("\n")
df_emisiones.head(2)

Modelo de datos de: archive.zip
Cantidad de registros : 55440 Cantidad de las Columnas : 11


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   55440 non-null  int64
 1   Country                      55440 non-null  object
 2   Energy_type                  55440 non-null  object
 3   Year                         55440 non-null  int64
 4   Energy_consumption           44287 non-null  float64
 5   Energy_production            44289 non-null  float64
 6   GDP                          40026 non-null  float64
 7   Population                   46014 non-null  float64
 8   Energy_intensity_per_capita  50358 non-null  float64
 9   Energy_intensity_by_GDP      50358 non-null  float64
 10  CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(2), object(2)
memory usage: 4.7+ MB

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188

In [21]:
df_emisiones['Year'].unique()

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [22]:
df_emisiones['Country'].value_counts()

Country
World                   240
Netherlands Antilles    240
New Zealand             240
Nicaragua               240
Niger                   240
                       ...
Germany, West           240
Ghana                   240
Gibraltar               240
Greece                  240
Zimbabwe                240
Name: count, Length: 231, dtype: int64


## Justificación de ETL  `Kaggle Countries CO2 Emission`
Para realizar un estudio relacionado con las `emisiones y la demanda de transporte público` en diferentes áreas de la ciudad, es importante seleccionar las columnas relevantes y normalizar el DataFrame si es necesario. Aquí hay algunos pasos que puedes seguir:

1. Selección de columnas relevantes:
Para este estudio, podrías considerar las siguientes columnas como relevantes:
- Country: País
- Energy_type: Tipo de energía
- Year: Año
- Energy_consumption: Consumo de energía
- GDP: Producto Interno Bruto
- Population: Población
- CO2_emission: Emisión de CO2

2. Normalización de datos:
La normalización de datos es importante para comparar las variables en una escala común, especialmente cuando tienen diferentes unidades de medida. Puedes normalizar las columnas numéricas relevantes utilizando técnicas como la normalización min-max o la estandarización. Aquí te muestro cómo puedes realizar la normalización min-max usando Python:

3. Análisis de datos:
Una vez que hayas seleccionado las columnas relevantes y normalizado los datos, puedes realizar análisis exploratorio de datos (EDA) y visualizaciones para entender las relaciones entre las variables y cómo se ven afectadas por la congestión del tráfico y la demanda de transporte público en diferentes áreas de la ciudad.

4. Modelado y conclusiones:
Puedes utilizar técnicas de modelado como regresión o análisis de series temporales para analizar cómo varían las emisiones de CO2 en función de la demanda de transporte público y la congestión del tráfico. Luego, puedes sacar conclusiones basadas en tus análisis y hallazgos.

Características específicas de tus datos y los objetivos de tu estudio:

1. **Estados Unidos**: Emite alrededor de 5,41 mil millones de toneladas métricas de CO2 al año, lo que representa aproximadamente el 14% de las emisiones globales de CO2.

2. **China**: Es el mayor emisor de CO2 del mundo, emitiendo aproximadamente 10,06 mil millones de toneladas métricas de CO2 al año, lo que equivale a casi el 28% de las emisiones globales.

3. **India**: Emite alrededor de 2,65 mil millones de toneladas métricas de CO2 al año, lo que representa aproximadamente el 7% de las emisiones globales.

4. **Rusia**: Emite alrededor de 1,71 mil millones de toneladas métricas de CO2 al año, aproximadamente el 4% de las emisiones globales.

5. **Japón**: Emite alrededor de 1,16 mil millones de toneladas métricas de CO2 al año, aproximadamente el 3% de las emisiones globales.

6. **Alemania**: Emite alrededor de 0,76 mil millones de toneladas métricas de CO2 al año, aproximadamente el 2% de las emisiones globales.

7. **Canadá**: Emite alrededor de 0,56 mil millones de toneladas métricas de CO2 al año, aproximadamente el 1.5% de las emisiones globales.

8. **Reino Unido**: Emite alrededor de 0,37 mil millones de toneladas métricas de CO2 al año, aproximadamente el 1% de las emisiones globales.

9. **Arabia Saudita**: Emite alrededor de 0,62 mil millones de toneladas métricas de CO2 al año, aproximadamente el 1.5% de las emisiones globales.

10. **Corea del Sur**: Emite alrededor de 0,66 mil millones de toneladas métricas de CO2 al año, aproximadamente el 1.7% de las emisiones globales.

Estos datos numéricos muestran el impacto significativo que estos países tienen en las emisiones globales de CO2, lo que justifica su inclusión en la lista de países relevantes para un estudio sobre emisiones de carbono y energía.

Puedes encontrar información adicional y referencias sobre las emisiones de CO2 y el consumo de energía de estos países en informes de organizaciones como la Agencia Internacional de Energía (AIE), el Grupo Intergubernamental de Expertos sobre el Cambio Climático (IPCC), la Administración de Información Energética (EIA) de EE. UU., y otros organismos gubernamentales y ONG dedicados al medio ambiente y la energía. Además, los informes y artículos de noticias sobre políticas energéticas y ambientales también pueden proporcionar información valiosa sobre las emisiones de CO2 y el consumo de energía de estos países.

In [23]:
# # emisiones trabaja con fuel electrician 
# https://ourworldindata.org/co2-emissions
# https://www.iea.org/data-and-statistics/data-sets?filter=emissions
# https://unstats.un.org/SDGAPI/swagger/
# https://rpubs.com/angelamhkim/sdgapi

In [24]:
# Lista de países más relevantes en emisiones de carbono y energía
paises_relevantes = ['United States', 'World', 'China', 'India', 'Russia', 'Japan', 'Germany', 
                     'Canada', 'United Kingdom', 'South Korea']


# Filtrar el dataframe para incluir solo los países relevantes
df_relevantes = df_emisiones[df_emisiones['Country'].isin(paises_relevantes)]

# Filtrar solo los datos a partir de 2010
data_desde_2010 = df_relevantes[df_relevantes['Year'] >= 2010]

# Seleccionar las columnas numéricas 
columns_drop = ['Country', 'Year','Energy_type','Energy_consumption','Energy_production', 'GDP', 'Population', 'CO2_emission']

# Filtrar el DataFrame original para seleccionar solo las columnas especificadas
new_df_emisiones = data_desde_2010[columns_drop]

In [25]:
new_df_emisiones.info()

<class 'pandas.core.frame.DataFrame'>
Index: 600 entries, 41580 to 55379
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             600 non-null    object
 1   Year                600 non-null    int64
 2   Energy_type         600 non-null    object
 3   Energy_consumption  600 non-null    float64
 4   Energy_production   600 non-null    float64
 5   GDP                 600 non-null    float64
 6   Population          600 non-null    float64
 7   CO2_emission        600 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 42.2+ KB

In [26]:
import re
from unidecode import unidecode

def limpiar_nombre(nombre):
    """
    Limpia y formatea el nombre de una columna.

    Parameters:
    - nombre (str): El nombre de la columna a limpiar.

    Returns:
    str: El nombre de la columna limpio y formateado.
    """
    nombre = re.sub(r'\W+', '_', str(nombre))  # Asegurarse de que el nombre sea una cadena
    nombre = unidecode(nombre)
    nombre = nombre.lower()
    return nombre

# Aplicar limpieza y formateo a todas las celdas del DataFrame
df = new_df_emisiones.apply(lambda x: x.map(limpiar_nombre) if x.dtype == "object" else x)

# Renombrar las columnas del DataFrame con los nombres limpios y formateados
df.columns = [limpiar_nombre(col) for col in df.columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 600 entries, 41580 to 55379
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             600 non-null    object
 1   year                600 non-null    int64
 2   energy_type         600 non-null    object
 3   energy_consumption  600 non-null    float64
 4   energy_production   600 non-null    float64
 5   gdp                 600 non-null    float64
 6   population          600 non-null    float64
 7   co2_emission        600 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 42.2+ KB

In [28]:
df.head(15)

,country,year,energy_type,energy_consumption,energy_production,gdp,population,co2_emission
41580,world,2010,all_energy_types,526.730468,518.731658,94617.526435,6948810.014,30621.827234
41581,world,2010,coal,157.784008,156.210012,94617.526435,6948810.014,13867.179120
41582,world,2010,natural_gas,119.423879,116.945679,94617.526435,6948810.014,5782.117372
41583,world,2010,petroleum_n_other_liquids,177.932743,171.408876,94617.526435,6948810.014,10972.530743
41584,world,2010,nuclear,27.379918,27.379918,94617.526435,6948810.014,0.000000
41585,world,2010,renewables_n_other,45.251165,46.787173,94617.526435,6948810.014,0.000000
41796,canada,2010,all_energy_types,13.791382,18.289495,1433.922000,34004.900,541.451147
41797,canada,2010,coal,0.950776,1.437012,1433.922000,34004.900,90.489059
41798,canada,2010,natural_gas,3.552595,5.571874,1433.922000,34004.900,170.209203
41799,canada,2010,petroleum_n_other_liquids,4.801997,6.679306,1433.922000,34004.900,280.752885
41800,canada,2010,nuclear,0.965256,0.965256,1433.922000,34004.900,0.000000
41801,canada,2010,renewables_n_other,3.520758,3.636047,1433.922000,34004.900,0.000000
41826,china,2010,all_energy_types,111.972192,97.032727,12228.770000,1369778.000,8204.136740
41827,china,2010,coal,81.119270,76.355779,12228.770000,1369778.000,6923.858506
41828,china,2010,natural_gas,3.938045,3.484123,12228.770000,1369778.000,173.278233

In [29]:
df.year.unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int64)

In [30]:
# Convertir el DataFrame de Pandas a un DataFrame de Polars
df_co2_emission = pl.from_pandas(df)

# Convertir el DataFrame de Polars a un objeto Arrow
arrow_table = df_co2_emission.to_arrow()

# Guardar el objeto Arrow en un archivo Arrow
#pq.write_table(arrow_table, 'temperature.arrow')
pq.write_table(arrow_table, '../datasets/processed/co2_emission.arrow')

## API SONYC Urban Sound Tagging (SONYC-UST): a multilabel dataset from an urban acoustic sensor network `datos.csv`

In [31]:
class DatasetDownloader:
    def __init__(self, base_url, download_folder):
        self.base_url = base_url
        self.download_folder = Path(download_folder)
        self.download_folder.mkdir(parents=True, exist_ok=True)

    def scrape_dataset_url(self):
        response = requests.get(self.base_url)
        soup = BeautifulSoup(response.content, 'html.parser')

        dataset_link = soup.find('a', string='README.md')
        if dataset_link:
            absolute_url = urljoin(self.base_url, dataset_link['href'])
            readme_url = absolute_url
        else:
            print("No se encontró el enlace al README.md")
            readme_url = None

        csv_link = soup.select_one('a[href*="annotations.csv"]')
        if csv_link:
            csv_url = urljoin(self.base_url, csv_link['href'])
        else:
            print("No se encontró el enlace al archivo CSV")
            csv_url = None

        return readme_url, csv_url

    def download_file(self, url, save_path):
        try:
            response = requests.get(url, stream=True)
            response.raise_for_status()
            with open(save_path, 'wb') as f:
                for chunk in response.iter_content(chunk_size=8192):
                    f.write(chunk)
            print(f"Archivo guardado: {save_path}")
        except Exception as e:
            print(f"Error al descargar el archivo: {url}")
            print(f"Error details: {e}")

    def download_datasets(self):
        readme_url, csv_url = self.scrape_dataset_url()
        if readme_url:
            save_path = self.download_folder / 'README.md'
            self.download_file(readme_url, save_path)

        if csv_url:
            save_path = self.download_folder / 'datos.csv'
            self.download_file(csv_url, save_path)

# Ejemplo de uso
base_url = 'https://zenodo.org/records/3966543'
download_folder = '../datasets/raw'
downloader = DatasetDownloader(base_url, download_folder)
downloader.download_datasets()

Archivo guardado: ..\datasets\raw\README.md
Archivo guardado: ..\datasets\raw\datos.csv

In [32]:
df_acustico= pd.read_csv('..\\datasets\\raw\\datos.csv' , sep = ',', encoding='utf-8')

In [33]:
print("Modelo de datos de: steam_games ")
print("Cantidad de registros :", df_acustico.shape[0], "Cantidad de las Columnas :", df_acustico.shape[1])
print("\n")
df_acustico.info()
print("\n")
df_acustico.head(5)

Modelo de datos de: steam_games
Cantidad de registros : 62022 Cantidad de las Columnas : 78


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62022 entries, 0 to 62021
Data columns (total 78 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   split                                         62022 non-null  object
 1   sensor_id                                     62022 non-null  int64
 2   audio_filename                                62022 non-null  object
 3   annotator_id                                  62022 non-null  int64
 4   borough                                       62022 non-null  int64
 5   block                                         62022 non-null  int64
 6   latitude                                      62022 non-null  float64
 7   longitude                                     62022 non-null  float64
 8   year                                          62022 non-null  int64
 9   week                                          62022 non-null  int64
 10  day                                           62022 non-null  int64
 11  hour                                          62022 non-null  int64
 12  1-1_small-sounding-engine_presence            62022 non-null  int64
 13  1-2_medium-sounding-engine_presence           62022 non-null  int64
 14  1-3_large-sounding-engine_presence            62022 non-null  int64
 15  1-X_engine-of-uncertain-size_presence         62022 non-null  int64
 16  2-1_rock-drill_presence                       62022 non-null  int64
 17  2-2_jackhammer_presence                       62022 non-null  int64
 18  2-3_hoe-ram_presence                          62022 non-null  int64
 19  2-4_pile-driver_presence                      62022 non-null  int64
 20  2-X_other-unknown-impact-machinery_presence   62022 non-null  int64
 21  3-1_non-machinery-impact_presence             62022 non-null  int64
 22  4-1_chainsaw_presence                         62022 non-null  int64
 23  4-2_small-medium-rotating-saw_presence        62022 non-null  int64
 24  4-3_large-rotating-saw_presence               62022 non-null  int64
 25  4-X_other-unknown-powered-saw_presence        62022 non-null  int64
 26  5-1_car-horn_presence                         62022 non-null  int64
 27  5-2_car-alarm_presence                        62022 non-null  int64
 28  5-3_siren_presence                            62022 non-null  int64
 29  5-4_reverse-beeper_presence                   62022 non-null  int64
 30  5-X_other-unknown-alert-signal_presence       62022 non-null  int64
 31  6-1_stationary-music_presence                 62022 non-null  int64
 32  6-2_mobile-music_presence                     62022 non-null  int64
 33  6-3_ice-cream-truck_presence                  62022 non-null  int64
 34  6-X_music-from-uncertain-source_presence      62022 non-null  int64
 35  7-1_person-or-small-group-talking_presence    62022 non-null  int64
 36  7-2_person-or-small-group-shouting_presence   62022 non-null  int64
 37  7-3_large-crowd_presence                      62022 non-null  int64
 38  7-4_amplified-speech_presence                 62022 non-null  int64
 39  7-X_other-unknown-human-voice_presence        62022 non-null  int64
 40  8-1_dog-barking-whining_presence              62022 non-null  int64
 41  1-1_small-sounding-engine_proximity           62022 non-null  object
 42  1-2_medium-sounding-engine_proximity          62022 non-null  object
 43  1-3_large-sounding-engine_proximity           62022 non-null  object
 44  1-X_engine-of-uncertain-size_proximity        62022 non-null  object
 45  2-1_rock-drill_proximity                      62022 non-null  object
 46  2-2_jackhammer_proximity                      62022 non-null  object
 47  2-3_hoe-ram_proximity                         62022 non-null  object
 48  2-4_pile-driver_proximity                     62022 non-null  object
 49  2-X_other-unknown-impact-machinery_proximity  62022 non-null  object
 50  3-1_non-machinery-impact_proximity            62022 non-null  object
 51  4-1_chainsaw_proximity                        62022 non-null  object
 52  4-2_small-medium-rotating-saw_proximity       62022 non-null  object
 53  4-3_large-rotating-saw_proximity              62022 non-null  object
 54  4-X_other-unknown-powered-saw_proximity       62022 non-null  object
 55  5-1_car-horn_proximity                        62022 non-null  object
 56  5-2_car-alarm_proximity                       62022 non-null  object
 57  5-3_siren_proximity                           62022 non-null  object
 58  5-4_reverse-beeper_proximity                  62022 non-null  object
 59  5-X_other-unknown-alert-signal_proximity      62022 non-null  object
 60  6-1_stationary-music_proximity                62022 non-null  object
 61  6-2_mobile-music_proximity                    62022 non-null  object
 62  6-3_ice-cream-truck_proximity                 62022 non-null  object
 63  6-X_music-from-uncertain-source_proximity     62022 non-null  object
 64  7-1_person-or-small-group-talking_proximity   62022 non-null  object
 65  7-2_person-or-small-group-shouting_proximity  62022 non-null  object
 66  7-3_large-crowd_proximity                     62022 non-null  object
 67  7-4_amplified-speech_proximity                62022 non-null  object
 68  7-X_other-unknown-human-voice_proximity       62022 non-null  object
 69  8-1_dog-barking-whining_proximity             62022 non-null  object
 70  1_engine_presence                             62022 non-null  int64
 71  2_machinery-impact_presence                   62022 non-null  int64
 72  3_non-machinery-impact_presence               62022 non-null  int64
 73  4_powered-saw_presence                        62022 non-null  int64
 74  5_alert-signal_presence                       62022 non-null  int64
 75  6_music_presence                              62022 non-null  int64
 76  7_human-voice_presence                        62022 non-null  int64
 77  8_dog_presence                                62022 non-null  int64
dtypes: float64(2), int64(45), object(31)
memory usage: 36.9+ MB

,split,sensor_id,audio_filename,annotator_id,borough,block,latitude,longitude,year,week,...,7-X_other-unknown-human-voice_proximity,8-1_dog-barking-whining_proximity,1_engine_presence,2_machinery-impact_presence,3_non-machinery-impact_presence,4_powered-saw_presence,5_alert-signal_presence,6_music_presence,7_human-voice_presence,8_dog_presence
0,test,0,00_026884.wav,-6,1,547,40.72951,-73.99388,2019,43,...,-1,-1,-1,1,0,-1,-1,-1,-1,-1
1,test,0,00_026884.wav,-4,1,547,40.72951,-73.99388,2019,43,...,-1,-1,1,-1,-1,-1,-1,-1,-1,-1
2,test,0,00_026884.wav,-3,1,547,40.72951,-73.99388,2019,43,...,-1,-1,1,-1,-1,-1,-1,-1,-1,-1
3,test,0,00_026884.wav,-1,1,547,40.72951,-73.99388,2019,43,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
4,test,0,00_026884.wav,0,1,547,40.72951,-73.99388,2019,43,...,-1,-1,1,0,1,0,0,0,0,0

In [34]:
df_acustico.year.unique()

array([2019, 2017, 2016, 2018], dtype=int64)

In [35]:
# Seleccionar las variables relevantes
variables_seleccionadas = [
    'borough', 'latitude', 'longitude',  # Variables de ubicación
    'year', 'week', 'day', 'hour',       # Variables de tiempo
    # Variables de sonido
    '1-1_small-sounding-engine_presence', '1-2_medium-sounding-engine_presence', '1-3_large-sounding-engine_presence',
    '2-1_rock-drill_presence', '2-2_jackhammer_presence', '2-3_hoe-ram_presence', '2-4_pile-driver_presence',
    '3-1_non-machinery-impact_presence', '4-1_chainsaw_presence', '4-2_small-medium-rotating-saw_presence',
    '4-3_large-rotating-saw_presence', '5-1_car-horn_presence', '5-2_car-alarm_presence', '5-3_siren_presence',
    '5-4_reverse-beeper_presence', '6-1_stationary-music_presence', '6-2_mobile-music_presence', '6-3_ice-cream-truck_presence',
    '7-1_person-or-small-group-talking_presence', '7-2_person-or-small-group-shouting_presence', '7-3_large-crowd_presence',
    '7-4_amplified-speech_presence', '8-1_dog-barking-whining_presence',
    # Variables adicionales
    '1_engine_presence', '2_machinery-impact_presence', '3_non-machinery-impact_presence', '4_powered-saw_presence',
    '5_alert-signal_presence', '6_music_presence', '7_human-voice_presence', '8_dog_presence',
    # Variables de identificación
    'sensor_id', 'audio_filename', 'annotator_id'
]

# Seleccionar las columnas relevantes del DataFrame
df_seleccionado = df_acustico[variables_seleccionadas].copy()

In [36]:
df_seleccionado.head(10)

,borough,latitude,longitude,year,week,day,hour,1-1_small-sounding-engine_presence,1-2_medium-sounding-engine_presence,1-3_large-sounding-engine_presence,...,2_machinery-impact_presence,3_non-machinery-impact_presence,4_powered-saw_presence,5_alert-signal_presence,6_music_presence,7_human-voice_presence,8_dog_presence,sensor_id,audio_filename,annotator_id
0,1,40.72951,-73.99388,2019,43,4,8,-1,-1,-1,...,1,0,-1,-1,-1,-1,-1,0,00_026884.wav,-6
1,1,40.72951,-73.99388,2019,43,4,8,0,0,1,...,-1,-1,-1,-1,-1,-1,-1,0,00_026884.wav,-4
2,1,40.72951,-73.99388,2019,43,4,8,0,1,0,...,-1,-1,-1,-1,-1,-1,-1,0,00_026884.wav,-3
3,1,40.72951,-73.99388,2019,43,4,8,-1,-1,-1,...,0,0,-1,-1,-1,-1,-1,0,00_026884.wav,-1
4,1,40.72951,-73.99388,2019,43,4,8,0,1,1,...,0,1,0,0,0,0,0,0,00_026884.wav,0
5,1,40.72951,-73.99388,2019,43,4,8,0,1,1,...,1,0,0,0,0,0,0,0,00_026884.wav,6424
6,1,40.72951,-73.99388,2019,43,4,8,0,1,0,...,0,1,0,0,0,0,0,0,00_026884.wav,6514
7,1,40.72951,-73.99388,2019,43,4,8,0,1,0,...,0,0,0,0,0,0,0,0,00_026884.wav,6516
8,1,40.72951,-73.99388,2019,20,1,20,-1,-1,-1,...,0,0,-1,-1,-1,-1,-1,0,00_026919.wav,-6
9,1,40.72951,-73.99388,2019,20,1,20,0,0,1,...,-1,-1,-1,-1,-1,-1,-1,0,00_026919.wav,-4

In [37]:
df_seleccionado.borough.unique()

array([1, 3, 4], dtype=int64)

In [38]:
# Convertir el DataFrame de Pandas a un DataFrame de Polars
df_urban_acoustic = pl.from_pandas(df_seleccionado)

# Convertir el DataFrame de Polars a un objeto Arrow
arrow_table = df_urban_acoustic.to_arrow()

# Guardar el objeto Arrow en un archivo Arrow
#pq.write_table(arrow_table, 'temperature.arrow')
pq.write_table(arrow_table, '../datasets/processed/urban_acoustic.arrow')

## Air Quality indicator data for NYC  `cityofnewyork `

In [39]:
#!/usr/bin/env python
# https://data.cityofnewyork.us/Environment/Air-Quality/c3uy-2p5r/about_data
# https://dev.socrata.com/foundry/data.cityofnewyork.us/c3uy-2p5r
# https://dev.socrata.com/foundry/data.cityofnewyork.us/c3uy-2p5r 
# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("c3uy-2p5r", limit=16218)

# Convert to pandas DataFrame (16218, 12)
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [40]:
print("Modelo de datos de: Air Quality ")
print("Cantidad de registros :", results_df.shape[0], "Cantidad de las Columnas :", results_df.shape[1])
print("\n")
results_df.info()
print("\n")
results_df.head(5)

Modelo de datos de: Air Quality
Cantidad de registros : 16218 Cantidad de las Columnas : 11


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16218 entries, 0 to 16217
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   unique_id       16218 non-null  object
 1   indicator_id    16218 non-null  object
 2   name            16218 non-null  object
 3   measure         16218 non-null  object
 4   measure_info    16218 non-null  object
 5   geo_type_name   16218 non-null  object
 6   geo_join_id     16218 non-null  object
 7   geo_place_name  16218 non-null  object
 8   time_period     16218 non-null  object
 9   start_date      16218 non-null  object
 10  data_value      16218 non-null  object
dtypes: object(11)
memory usage: 1.4+ MB

,unique_id,indicator_id,name,measure,measure_info,geo_type_name,geo_join_id,geo_place_name,time_period,start_date,data_value
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2011,2010-12-01T00:00:00.000,25.30
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2009,2008-12-01T00:00:00.000,26.93
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,Annual Average 2015,2015-01-01T00:00:00.000,19.09
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Annual Average 2015,2015-01-01T00:00:00.000,19.76
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2009,2008-12-01T00:00:00.000,22.83

### Air Quality

1. **Variables de ubicación:**
   - `geo_place_name`: Nombre del lugar donde se registran los datos.
   - `geo_type_name`: Tipo de ubicación (por ejemplo, ciudad, distrito).
   - `start_date`: Fecha y hora de inicio del período de medición.

2. **Variables relacionadas con el tráfico:**
   - `indicator_id` o `name`: Identificador o nombre del indicador relacionado con el tráfico.
   - `measure`: Tipo de medida (por ejemplo, tráfico de vehículos, congestión).
   - `measure_info`: Información adicional sobre la medida (por ejemplo, velocidad media, densidad de tráfico).

3. **Variables de valor de los datos:**
   - `data_value`: Valor numérico que representa alguna métrica relacionada con el tráfico (por ejemplo, número de vehículos, velocidad promedio).

4. **Variables de tiempo:**
   - `time_period`: Período de tiempo durante el cual se recopilaron los datos (por ejemplo, hora del día, día de la semana).
   - `start_date`: Fecha y hora de inicio del período de medición.

5. **Variables de identificación:**
   - `unique_id`: Identificador único para cada registro de datos.
   - `geo_join_id`: Identificador de unión geográfica que podría ser útil para unir con otras fuentes de datos geoespaciales.

Dado que la cantidad de columnas en tu DataFrame es relativamente pequeña (11 columnas), puedes considerar incluir la mayoría de estas variables en tu análisis. Sin embargo, si deseas reducir el número de variables, podrías comenzar seleccionando las que consideres más relevantes para tus objetivos específicos de investigación sobre el tránsito en taxis. También puedes realizar un análisis exploratorio de datos para identificar qué variables tienen la mayor correlación con tu variable objetivo o están más relacionadas con los patrones de tráfico que deseas estudiar.

In [41]:
# Seleccionar las variables relevantes
variables_seleccionadas = [
    'geo_place_name', 'geo_type_name', 'start_date',  # Variables de ubicación y tiempo
    'indicator_id', 'name', 'measure', 'measure_info',  # Variables relacionadas con el tráfico
    'data_value',  # Variable de valor de los datos
    'unique_id', 'geo_join_id'  # Variables de identificación
]

# Seleccionar las columnas relevantes del DataFrame
df_tratado = results_df[variables_seleccionadas].copy()

# Convertir las columnas de fecha y hora a tipos de datos datetime
df_tratado['start_date'] = pd.to_datetime(df_tratado['start_date'])

# Convertir la columna 'data_value' a tipo numérico si es posible
df_tratado['data_value'] = pd.to_numeric(df_tratado['data_value'], errors='coerce')

# Manejar los valores nulos o valores no numéricos en 'data_value'
# Por ejemplo, podrías optar por eliminar las filas con valores nulos en 'data_value'
df_tratado = df_tratado.dropna(subset=['data_value'])

In [42]:
df_tratado.head(15)

,geo_place_name,geo_type_name,start_date,indicator_id,name,measure,measure_info,data_value,unique_id,geo_join_id
0,Bedford Stuyvesant - Crown Heights,UHF34,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,25.30,172653,203
1,Bedford Stuyvesant - Crown Heights,UHF34,2008-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,26.93,172585,203
2,East New York,UHF34,2015-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,19.09,336637,204
3,Fordham - Bronx Pk,UHF34,2015-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,19.76,336622,103
4,Pelham - Throgs Neck,UHF34,2008-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,22.83,172582,104
5,Pelham - Throgs Neck,UHF34,2020-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,16.19,667327,104
6,Chelsea-Village,UHF34,2008-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,38.16,172607,306308
7,Chelsea-Village,UHF34,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,34.96,172675,306308
8,Borough Park,UHF42,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,30.10,175345,206
9,Borough Park,UHF42,2012-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,20.23,176689,206
10,High Bridge - Morrisania,UHF42,2012-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,23.73,176682,106
11,High Bridge - Morrisania,UHF42,2014-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,26.00,336507,106
12,High Bridge - Morrisania,UHF42,2021-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,18.04,740910,106
13,Bensonhurst - Bay Ridge,UHF42,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,28.44,175348,209
14,Bensonhurst - Bay Ridge,UHF42,2009-06-01,375,Nitrogen dioxide (NO2),Mean,ppb,18.95,175894,209

In [43]:
# Convertir el DataFrame de Pandas a un DataFrame de Polars
df_air_quality = pl.from_pandas(df_tratado)

# Convertir el DataFrame de Polars a un objeto Arrow
arrow_table = df_air_quality.to_arrow()

# Guardar el objeto Arrow en un archivo Arrow
#pq.write_table(arrow_table, 'temperature.arrow')
pq.write_table(arrow_table, '../datasets/processed/air_quality.arrow')

In [44]:
# https://a816-dohbesp.nyc.gov/IndicatorPublic/neighborhood-reports/climateandhealth/
# https://a816-dohbesp.nyc.gov/IndicatorPublic/neighborhood-reports/borough_park/

In [45]:
### Ficheros de Datasets Raws:
# https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page <br> oks
# https://developers.google.com/transit?hl=es-419<br>
# https://open-meteo.com/en/docs/historical-weather-api<br> oks 
# https://www.kaggle.com/datasets/lobosi/c02-emission-by-countrys-grouth-and-population<br> oks
# https://zenodo.org/records/3966543<br> oks
# https://data.cityofnewyork.us/Environment/Air-Quality/c3uy-2p5r<br> oks
# https://en.wikipedia.org/wiki/Boroughs_of_New_York_City<br> info
# https://open.canada.ca/data/en/dataset/98f1a129-f628-4ce4-b24d-6f16bf24dd64#wb-auto-6<br>

In [46]:
# https://www.iea.org/data-and-statistics/data-sets?filter=emissions
# https://ourworldindata.org/co2-emissions
# https://a816-dohbesp.nyc.gov/IndicatorPublic/neighborhood-reports/borough_park/

In [47]:
# https://www.iea.org/data-and-statistics/data-sets?filter=emissions
# https://ourworldindata.org/co2-emissions
# https://a816-dohbesp.nyc.gov/IndicatorPublic/neighborhood-reports/borough_park/

## API Fuel consumption ratings ``

In [48]:
import pandas as pd
from ckanapi import RemoteCKAN

def scrape_ckan_data(resource_id, limit):
    # URL del CKAN
    ckan_url = 'https://open.canada.ca/data/en/'

    # Inicializar el objeto RemoteCKAN
    rc = RemoteCKAN(ckan_url)

    # Construir la consulta para recuperar datos específicos utilizando algunos campos del diccionario de datos
    query = {
        "resource_id": resource_id,
        "fields": [
            "Model year",
            "Make",
            "Model",
            "Vehicle class",
            "Engine size (L)",
            "Cylinders",
            "Transmission",
            "Fuel type",
            "City (L/100 km)",
            "Highway (L/100 km)",
            "Combined (L/100 km)",
            "Combined (mpg)",
            "CO2 emissions (g/km)",
            "CO2 rating",
            "Smog rating"
        ],
        "limit": limit
    }

    # Realizar la consulta
    result = rc.action.datastore_search(**query)

    # Obtener los registros
    records = result['records']

    # Convertir los registros a un DataFrame de pandas
    df = pd.DataFrame(records)
    
    return df

# Llamar a la función para cada recurso y obtener los datos
df_2004 = scrape_ckan_data("42495676-28b7-40f3-b0e0-3d7fe005ca56", 7292) #Fuel consumption ratings (1995-2004)
df_2014 = scrape_ckan_data("2309538b-53d1-4635-a88e-e237bfcef7a2", 10562) #Fuel consumption ratings (2005-2014)
df_2019 = scrape_ckan_data("332be680-9577-42c6-8c47-a0380ef48c5e", 5432) #Fuel consumption ratings (2015-2019)

df_2020 = scrape_ckan_data("56a89c09-d609-41cd-8838-9dd9905d3cfc", 975) #2020 Fuel Consumption Ratings (2023-02-03)
df_2021 = scrape_ckan_data("f2e53a2b-e075-473a-9a9c-5d7bef68d07d", 971) #2021 Fuel Consumption Ratings (2023-02-03)
df_2022 = scrape_ckan_data("87fc1b5e-fafc-4d44-ac52-66656fc2a245", 971) #2022 Fuel Consumption Ratings (2023-08-18)
df_2023 = scrape_ckan_data("b6100f60-5e63-437d-b122-db76c467c0a7", 833) #2023 Fuel Consumption Ratings (2023-08-18)
df_2024 = scrape_ckan_data("edba4afa-dc19-480c-bbe4-57992fc9d0d6", 833) #2024 Fuel Consumption Ratings (2024-02-19)
#df_20242 = scrape_ckan_data("026e45b4-eb63-451f-b34f-d9308ea3a3d9", 668) #Battery-electric vehicles (2012-2024)

In [49]:
import pandas as pd
from ckanapi import RemoteCKAN

def scrape_ckan_data(resource_id, limit):
    # URL del CKAN
    ckan_url = 'https://open.canada.ca/data/en/'

    # Inicializar el objeto RemoteCKAN
    rc = RemoteCKAN(ckan_url)

    # Construir la consulta para recuperar datos específicos utilizando algunos campos del diccionario de datos
    query = {
        "resource_id": resource_id,
        "fields": [
            "Model year",
            "Make",
            "Model",
            "Vehicle class",
            "Motor (kW)",
            "Transmission",
            "Fuel type",
            "City (kWh/100 km)",
            "Highway (kWh/100 km)",
            "Combined (kWh/100 km)",
            "City (Le/100 km)",
            "Highway (Le/100 km)",
            "Combined (Le/100 km)",
            "Range (km)",
            "CO2 emissions (g/km)",
            "CO2 rating",
            "Smog rating",
            "Recharge time (h)"
        ],
        "limit": limit
    }

    # Realizar la consulta
    result = rc.action.datastore_search(**query)

    # Obtener los registros
    records = result['records']

    # Convertir los registros a un DataFrame de pandas
    df = pd.DataFrame(records)
    
    return df

# Llamar a la función para cada recurso y obtener los datos
df_electric = scrape_ckan_data("026e45b4-eb63-451f-b34f-d9308ea3a3d9", 668)  # Battery-electric vehicles (2012-2024)

In [50]:
# Imprimir los DataFrames
print(df_2004.shape)
print(df_2014.shape)
print(df_2019.shape)

print(df_2020.shape)
print(df_2021.shape)
print(df_2022.shape)
print(df_2023.shape)
print(df_2024.shape)
print(df_electric.shape)

(7292, 15)
(10561, 15)
(5431, 15)
(975, 15)
(970, 15)
(971, 15)
(833, 15)
(743, 15)
(667, 18)

In [51]:
df_2004['Model year'].unique()

array(['1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004'], dtype=object)

In [52]:
df_2014['Model year'].unique()

array(['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014'], dtype=object)

In [53]:
# Lista de DataFrames a unir
dfs = [df_2004, df_2014, df_2019, df_2020, df_2021, df_2022, df_2023, df_2024]

# Unir los DataFrames verticalmente
df_combined = pd.concat(dfs, ignore_index=True)

# Imprimir la forma del DataFrame combinado
df_combined.shape

(27776, 15)

In [54]:
import re
from unidecode import unidecode

def limpiar_nombre(nombre):
    """
    Limpia y formatea el nombre de una columna.

    Parameters:
    - nombre (str): El nombre de la columna a limpiar.

    Returns:
    str: El nombre de la columna limpio y formateado.
    """
    nombre = re.sub(r'\W+$', '', str(nombre))  # Eliminar cualquier guión bajo al final de la cadena
    nombre = re.sub(r'\W+', '_', nombre)  # Reemplazar otros caracteres no alfanuméricos por guiones bajos
    nombre = unidecode(nombre)
    nombre = nombre.lower()
    return nombre

# Aplicar limpieza y formateo a todas las celdas del DataFrame
df = df_combined.applymap(lambda x: limpiar_nombre(x) if isinstance(x, str) else x)

# Renombrar las columnas del DataFrame con los nombres limpios y formateados
df.columns = [limpiar_nombre(col) for col in df.columns]

C:\Users\ozi\AppData\Local\Temp\ipykernel_8452\4134818634.py:21: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df_combined.applymap(lambda x: limpiar_nombre(x) if isinstance(x, str) else x)

In [55]:
df

,model_year,make,model,vehicle_class,engine_size_l,cylinders,transmission,fuel_type,city_l_100_km,highway_l_100_km,combined_l_100_km,combined_mpg,co2_emissions_g_km,co2_rating,smog_rating
0,1995,acura,integra,subcompact,1_8,4,a4,x,11_6,8_3,10_1,28,232,n_a,n_a
1,1995,acura,integra,subcompact,1_8,4,m5,x,11_0,8_3,9_8,29,225,n_a,n_a
2,1995,acura,integra_gs_r,subcompact,1_8,4,m5,z,10_8,8_3,9_7,29,223,n_a,n_a
3,1995,acura,legend,compact,3_2,6,a4,z,14_2,10_5,12_5,23,288,n_a,n_a
4,1995,acura,legend_coupe,compact,3_2,6,a4,z,14_6,11_0,13_0,22,299,n_a,n_a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27771,2024,volvo,v60_cc_b5_awd,station_wagon_small,2_0,4,as8,z,10_0,7_5,8_9,32,207,5,5
27772,2024,volvo,v90_cc_b6_awd,station_wagon_mid_size,2_0,4,as8,z,10_7,8_1,9_5,30,223,5,7
27773,2024,volvo,xc40_b5_awd,sport_utility_vehicle_small,2_0,4,as8,z,9_9,7_8,9_0,31,210,5,5
27774,2024,volvo,xc60_b5_awd,sport_utility_vehicle_small,2_0,4,as8,z,10_6,8_3,9_6,29,226,5,5
27775,2024,volvo,xc90_b6_awd,sport_utility_vehicle_standard,2_0,4,as8,z,10_9,8_6,9_8,29,230,5,7

In [56]:
print("\n")
df.info()
print("\n")
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27776 entries, 0 to 27775
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model_year          27776 non-null  object
 1   make                27776 non-null  object
 2   model               27776 non-null  object
 3   vehicle_class       27776 non-null  object
 4   engine_size_l       27776 non-null  object
 5   cylinders           27776 non-null  object
 6   transmission        27776 non-null  object
 7   fuel_type           27776 non-null  object
 8   city_l_100_km       27776 non-null  object
 9   highway_l_100_km    27776 non-null  object
 10  combined_l_100_km   27776 non-null  object
 11  combined_mpg        27776 non-null  object
 12  co2_emissions_g_km  27776 non-null  object
 13  co2_rating          27776 non-null  object
 14  smog_rating         27776 non-null  object
dtypes: object(15)
memory usage: 3.2+ MB

,model_year,make,model,vehicle_class,engine_size_l,cylinders,transmission,fuel_type,city_l_100_km,highway_l_100_km,combined_l_100_km,combined_mpg,co2_emissions_g_km,co2_rating,smog_rating
0,1995,acura,integra,subcompact,1_8,4,a4,x,11_6,8_3,10_1,28,232,n_a,n_a
1,1995,acura,integra,subcompact,1_8,4,m5,x,11_0,8_3,9_8,29,225,n_a,n_a
2,1995,acura,integra_gs_r,subcompact,1_8,4,m5,z,10_8,8_3,9_7,29,223,n_a,n_a
3,1995,acura,legend,compact,3_2,6,a4,z,14_2,10_5,12_5,23,288,n_a,n_a
4,1995,acura,legend_coupe,compact,3_2,6,a4,z,14_6,11_0,13_0,22,299,n_a,n_a

In [57]:
# Convertir las columnas 'combined_mpg', 'co2_emissions_g_km', 'model_year' a enteros
df['combined_mpg'] = df['combined_mpg'].astype(int)
df['co2_emissions_g_km'] = df['co2_emissions_g_km'].astype(int)
df['model_year'] = df['model_year'].astype(int)

df['cylinders'] = df['cylinders'].astype(int)
df['co2_rating'] = df['co2_rating'].replace('n_a', np.nan).astype(float)
# Reemplazar 'n_a' por NaN y convertir la columna 'smog_rating' a entero
df['smog_rating'] = df['smog_rating'].replace('n_a', np.nan).astype(float)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27776 entries, 0 to 27775
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model_year          27776 non-null  int32
 1   make                27776 non-null  object
 2   model               27776 non-null  object
 3   vehicle_class       27776 non-null  object
 4   engine_size_l       27776 non-null  object
 5   cylinders           27776 non-null  int32
 6   transmission        27776 non-null  object
 7   fuel_type           27776 non-null  object
 8   city_l_100_km       27776 non-null  object
 9   highway_l_100_km    27776 non-null  object
 10  combined_l_100_km   27776 non-null  object
 11  combined_mpg        27776 non-null  int32
 12  co2_emissions_g_km  27776 non-null  int32
 13  co2_rating          8795 non-null   float64
 14  smog_rating         7689 non-null   float64
dtypes: float64(2), int32(4), object(9)
memory usage: 2.8+ MB

In [59]:
df

,model_year,make,model,vehicle_class,engine_size_l,cylinders,transmission,fuel_type,city_l_100_km,highway_l_100_km,combined_l_100_km,combined_mpg,co2_emissions_g_km,co2_rating,smog_rating
0,1995,acura,integra,subcompact,1_8,4,a4,x,11_6,8_3,10_1,28,232,NaN,NaN
1,1995,acura,integra,subcompact,1_8,4,m5,x,11_0,8_3,9_8,29,225,NaN,NaN
2,1995,acura,integra_gs_r,subcompact,1_8,4,m5,z,10_8,8_3,9_7,29,223,NaN,NaN
3,1995,acura,legend,compact,3_2,6,a4,z,14_2,10_5,12_5,23,288,NaN,NaN
4,1995,acura,legend_coupe,compact,3_2,6,a4,z,14_6,11_0,13_0,22,299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27771,2024,volvo,v60_cc_b5_awd,station_wagon_small,2_0,4,as8,z,10_0,7_5,8_9,32,207,5.0,5.0
27772,2024,volvo,v90_cc_b6_awd,station_wagon_mid_size,2_0,4,as8,z,10_7,8_1,9_5,30,223,5.0,7.0
27773,2024,volvo,xc40_b5_awd,sport_utility_vehicle_small,2_0,4,as8,z,9_9,7_8,9_0,31,210,5.0,5.0
27774,2024,volvo,xc60_b5_awd,sport_utility_vehicle_small,2_0,4,as8,z,10_6,8_3,9_6,29,226,5.0,5.0
27775,2024,volvo,xc90_b6_awd,sport_utility_vehicle_standard,2_0,4,as8,z,10_9,8_6,9_8,29,230,5.0,7.0

In [60]:
# Convertir el DataFrame de Pandas a un DataFrame de Polars
df_fuel_consumption = pl.from_pandas(df)

# Convertir el DataFrame de Polars a un objeto Arrow
arrow_table = df_fuel_consumption.to_arrow()

# Guardar el objeto Arrow en un archivo Arrow
#pq.write_table(arrow_table, 'temperature.arrow')
pq.write_table(arrow_table, '../datasets/processed/fuel_consumption.arrow')

In [61]:
df_electric.head(15)

,Model year,Make,Model,Vehicle class,Motor (kW),Transmission,Fuel type,City (kWh/100 km),Highway (kWh/100 km),Combined (kWh/100 km),City (Le/100 km),Highway (Le/100 km),Combined (Le/100 km),Range (km),CO2 emissions (g/km),CO2 rating,Smog rating,Recharge time (h)
0,2012,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,n/a,n/a,7
1,2012,Nissan,LEAF,Mid-size,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,117,0,n/a,n/a,7
2,2013,Ford,Focus Electric,Compact,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,122,0,n/a,n/a,4
3,2013,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,n/a,n/a,7
4,2013,Nissan,LEAF,Mid-size,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,117,0,n/a,n/a,7
5,2013,smart,fortwo electric drive cabriolet,Two-seater,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,109,0,n/a,n/a,8
6,2013,smart,fortwo electric drive coupe,Two-seater,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,109,0,n/a,n/a,8
7,2013,Tesla,Model S (40 kWh),Full-size,225,A1,B,22.4,21.9,22.2,2.5,2.5,2.5,224,0,n/a,n/a,6
8,2013,Tesla,Model S (60 kWh),Full-size,225,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,335,0,n/a,n/a,10
9,2013,Tesla,Model S (85 kWh),Full-size,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,426,0,n/a,n/a,12
10,2013,Tesla,Model S Performance,Full-size,310,A1,B,23.9,23.2,23.6,2.7,2.6,2.6,426,0,n/a,n/a,12
11,2014,Chevrolet,Spark EV,Subcompact,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,131,0,n/a,n/a,7
12,2014,Ford,Focus Electric,Compact,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,122,0,n/a,n/a,4
13,2014,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,n/a,n/a,7
14,2014,Nissan,LEAF,Mid-size,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,135,0,n/a,n/a,5

In [62]:
# Convertir el DataFrame de Pandas a un DataFrame de Polars
df_fuel_consumption = pl.from_pandas(df_electric)

# Convertir el DataFrame de Polars a un objeto Arrow
arrow_table = df_fuel_consumption.to_arrow()

# Guardar el objeto Arrow en un archivo Arrow
#pq.write_table(arrow_table, 'temperature.arrow')
pq.write_table(arrow_table, '../datasets/processed/consumption_electric.arrow')

In [ ]:
import requests

# Definir la URL de la API con los parámetros de consulta
url = "https://api.eia.gov/v2/petroleum/pri/refmg/data/"
params = {
    "frequency": "monthly",
    "data[0]": "value",
    "start": "2021-01",
    "end": "2022-03",
    "sort[0][column]": "period",
    "sort[0][direction]": "desc",
    "offset": "0",
    "length": "5000",
    "api_key": "cbd67337cbc4bed426ef3682226bdab2"
}

# Realizar la solicitud GET a la API
response = requests.get(url, params=params)

# Verificar si la solicitud fue exitosa (código de estado HTTP 200)
if response.status_code == 200:
    # Convertir la respuesta JSON a un diccionario de Python
    data = response.json()
    # Aquí puedes procesar los datos según tus necesidades
    print(data)
else:
    print("Error al solicitar los datos:", response.status_code)
#https://www.eia.gov/opendata/register.php