In [4]:
import os
import polars as pl
import polars.selectors as cs
import pandas as pd
from datetime import date, time
import numpy as np
import dask.dataframe as dd
import dask.distributed
import pyarrow.parquet as pq

In [ ]:
#https://www.toptal.com/developers/gitignore/api/django

In [5]:
# Obtener la lista de archivos Parquet procesados en el directorio
directorio = "../datasets/processed/ffvh_analytics/ffvh_analytics_part_0.parquet"

# Lee el archivo Parquet utilizando Dask
df_dask = dd.read_parquet(directorio)
#df_dask_particionado = df_dask.repartition(npartitions=4)

In [6]:
df_dask.head()

,hvfhs_license_num,dispatching_base_num,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,pickup_datetime_fecha,pickup_datetime_hora_minuto,dropoff_datetime_fecha,dropoff_datetime_hora_minuto,request_datetime_fecha,request_datetime_hora_minuto,on_scene_datetime_fecha,on_scene_datetime_hora_minuto,duracion_viaje,duracion_atencion,total_amount
0,HV0003,B03404,170,161,1.18,664,24.90,2022-01-01,00:07,2022-01-01,00:18,2022-01-01,00:05,2022-01-01,00:05,664.0,9.0,53.64
1,HV0003,B03404,237,161,0.82,460,11.97,2022-01-01,00:22,2022-01-01,00:30,2022-01-01,00:19,2022-01-01,00:22,460.0,161.0,28.46
2,HV0003,B03404,237,161,1.18,595,29.82,2022-01-01,00:57,2022-01-01,01:07,2022-01-01,00:43,2022-01-01,00:57,595.0,824.0,59.41
3,HV0003,B03404,262,229,1.65,303,7.91,2022-01-01,00:18,2022-01-01,00:23,2022-01-01,00:15,2022-01-01,00:17,303.0,92.0,17.90
4,HV0003,B03404,229,141,1.65,461,9.44,2022-01-01,00:28,2022-01-01,00:35,2022-01-01,00:25,2022-01-01,00:26,461.0,16.0,20.75

In [7]:
# Obtener las columnas del DataFrame de Dask
columnas = df_dask.columns
# Convertir las columnas a una lista
lista_columnas = columnas.tolist()

In [8]:
lista_columnas

['hvfhs_license_num',
 'dispatching_base_num',
 'PULocationID',
 'DOLocationID',
 'trip_miles',
 'trip_time',
 'base_passenger_fare',
 'pickup_datetime_fecha',
 'pickup_datetime_hora_minuto',
 'dropoff_datetime_fecha',
 'dropoff_datetime_hora_minuto',
 'request_datetime_fecha',
 'request_datetime_hora_minuto',
 'on_scene_datetime_fecha',
 'on_scene_datetime_hora_minuto',
 'duracion_viaje',
 'duracion_atencion',
 'total_amount']

In [26]:
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/temperature.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)

In [27]:
df_polars.head()

shape: (5, 2)
┌─────────────────────────┬────────────────┐
│ event_date              ┆ temperature_2m │
│ ---                     ┆ ---            │
│ datetime[ns, UTC]       ┆ f32            │
╞═════════════════════════╪════════════════╡
│ 2021-01-01 00:00:00 UTC ┆ 3.696          │
│ 2021-01-01 01:00:00 UTC ┆ 3.496          │
│ 2021-01-01 02:00:00 UTC ┆ 2.946          │
│ 2021-01-01 03:00:00 UTC ┆ 0.946          │
│ 2021-01-01 04:00:00 UTC ┆ 0.096          │
└─────────────────────────┴────────────────┘

In [28]:
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()

In [29]:
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   event_date      26280 non-null  datetime64[ns, UTC]
 1   temperature_2m  26280 non-null  float32
dtypes: datetime64[ns, UTC](1), float32(1)
memory usage: 308.1 KB

In [30]:
df_pandas.head(15)

                  event_date  temperature_2m
0  2021-01-01 00:00:00+00:00           3.696
1  2021-01-01 01:00:00+00:00           3.496
2  2021-01-01 02:00:00+00:00           2.946
3  2021-01-01 03:00:00+00:00           0.946
4  2021-01-01 04:00:00+00:00           0.096
5  2021-01-01 05:00:00+00:00          -0.704
6  2021-01-01 06:00:00+00:00          -1.254
7  2021-01-01 07:00:00+00:00          -1.654
8  2021-01-01 08:00:00+00:00          -2.104
9  2021-01-01 09:00:00+00:00          -2.404
10 2021-01-01 10:00:00+00:00          -2.504
11 2021-01-01 11:00:00+00:00          -2.254
12 2021-01-01 12:00:00+00:00          -1.454
13 2021-01-01 13:00:00+00:00          -1.504
14 2021-01-01 14:00:00+00:00           0.196

In [31]:
# https://www.kaggle.com/datasets/lobosi/c02-emission-by-countrys-grouth-and-population

In [32]:
#cristobal
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/co2_emission.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,country,year,energy_type,energy_consumption,energy_production,gdp,population,co2_emission
0,world,2010,all_energy_types,526.730468,518.731658,94617.526435,6948810.014,30621.827234
1,world,2010,coal,157.784008,156.210012,94617.526435,6948810.014,13867.179120
2,world,2010,natural_gas,119.423879,116.945679,94617.526435,6948810.014,5782.117372
3,world,2010,petroleum_n_other_liquids,177.932743,171.408876,94617.526435,6948810.014,10972.530743
4,world,2010,nuclear,27.379918,27.379918,94617.526435,6948810.014,0.000000
5,world,2010,renewables_n_other,45.251165,46.787173,94617.526435,6948810.014,0.000000
6,canada,2010,all_energy_types,13.791382,18.289495,1433.922000,34004.900,541.451147
7,canada,2010,coal,0.950776,1.437012,1433.922000,34004.900,90.489059
8,canada,2010,natural_gas,3.552595,5.571874,1433.922000,34004.900,170.209203
9,canada,2010,petroleum_n_other_liquids,4.801997,6.679306,1433.922000,34004.900,280.752885
10,canada,2010,nuclear,0.965256,0.965256,1433.922000,34004.900,0.000000
11,canada,2010,renewables_n_other,3.520758,3.636047,1433.922000,34004.900,0.000000
12,china,2010,all_energy_types,111.972192,97.032727,12228.770000,1369778.000,8204.136740
13,china,2010,coal,81.119270,76.355779,12228.770000,1369778.000,6923.858506
14,china,2010,natural_gas,3.938045,3.484123,12228.770000,1369778.000,173.278233

In [33]:
#claudio
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/urban_acoustic.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,borough,latitude,longitude,year,week,day,hour,1-1_small-sounding-engine_presence,1-2_medium-sounding-engine_presence,1-3_large-sounding-engine_presence,...,2_machinery-impact_presence,3_non-machinery-impact_presence,4_powered-saw_presence,5_alert-signal_presence,6_music_presence,7_human-voice_presence,8_dog_presence,sensor_id,audio_filename,annotator_id
0,1,40.72951,-73.99388,2019,43,4,8,-1,-1,-1,...,1,0,-1,-1,-1,-1,-1,0,00_026884.wav,-6
1,1,40.72951,-73.99388,2019,43,4,8,0,0,1,...,-1,-1,-1,-1,-1,-1,-1,0,00_026884.wav,-4
2,1,40.72951,-73.99388,2019,43,4,8,0,1,0,...,-1,-1,-1,-1,-1,-1,-1,0,00_026884.wav,-3
3,1,40.72951,-73.99388,2019,43,4,8,-1,-1,-1,...,0,0,-1,-1,-1,-1,-1,0,00_026884.wav,-1
4,1,40.72951,-73.99388,2019,43,4,8,0,1,1,...,0,1,0,0,0,0,0,0,00_026884.wav,0
5,1,40.72951,-73.99388,2019,43,4,8,0,1,1,...,1,0,0,0,0,0,0,0,00_026884.wav,6424
6,1,40.72951,-73.99388,2019,43,4,8,0,1,0,...,0,1,0,0,0,0,0,0,00_026884.wav,6514
7,1,40.72951,-73.99388,2019,43,4,8,0,1,0,...,0,0,0,0,0,0,0,0,00_026884.wav,6516
8,1,40.72951,-73.99388,2019,20,1,20,-1,-1,-1,...,0,0,-1,-1,-1,-1,-1,0,00_026919.wav,-6
9,1,40.72951,-73.99388,2019,20,1,20,0,0,1,...,-1,-1,-1,-1,-1,-1,-1,0,00_026919.wav,-4
10,1,40.72951,-73.99388,2019,20,1,20,0,1,0,...,-1,-1,-1,-1,-1,-1,-1,0,00_026919.wav,-3
11,1,40.72951,-73.99388,2019,20,1,20,-1,-1,-1,...,0,0,-1,-1,-1,-1,-1,0,00_026919.wav,-1
12,1,40.72951,-73.99388,2019,20,1,20,0,1,1,...,0,0,0,0,0,0,0,0,00_026919.wav,0
13,1,40.72951,-73.99388,2019,20,1,20,0,0,1,...,0,0,0,0,0,0,0,0,00_026919.wav,6425
14,1,40.72951,-73.99388,2019,20,1,20,0,0,0,...,1,0,0,0,0,0,0,0,00_026919.wav,6479

In [34]:
#duvan
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/air_quality.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,geo_place_name,geo_type_name,start_date,indicator_id,name,measure,measure_info,data_value,unique_id,geo_join_id
0,Bedford Stuyvesant - Crown Heights,UHF34,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,25.30,172653,203
1,Bedford Stuyvesant - Crown Heights,UHF34,2008-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,26.93,172585,203
2,East New York,UHF34,2015-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,19.09,336637,204
3,Fordham - Bronx Pk,UHF34,2015-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,19.76,336622,103
4,Pelham - Throgs Neck,UHF34,2008-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,22.83,172582,104
5,Pelham - Throgs Neck,UHF34,2020-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,16.19,667327,104
6,Chelsea-Village,UHF34,2008-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,38.16,172607,306308
7,Chelsea-Village,UHF34,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,34.96,172675,306308
8,Borough Park,UHF42,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,30.10,175345,206
9,Borough Park,UHF42,2012-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,20.23,176689,206
10,High Bridge - Morrisania,UHF42,2012-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,23.73,176682,106
11,High Bridge - Morrisania,UHF42,2014-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,26.00,336507,106
12,High Bridge - Morrisania,UHF42,2021-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,18.04,740910,106
13,Bensonhurst - Bay Ridge,UHF42,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,28.44,175348,209
14,Bensonhurst - Bay Ridge,UHF42,2009-06-01,375,Nitrogen dioxide (NO2),Mean,ppb,18.95,175894,209

In [35]:
# cristobal
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/fuel_consumption.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,model_year,make,model,vehicle_class,engine_size_l,cylinders,transmission,fuel_type,city_l_100_km,highway_l_100_km,combined_l_100_km,combined_mpg,co2_emissions_g_km,co2_rating,smog_rating
0,1995,acura,integra,subcompact,1_8,4,a4,x,11_6,8_3,10_1,28,232,NaN,NaN
1,1995,acura,integra,subcompact,1_8,4,m5,x,11_0,8_3,9_8,29,225,NaN,NaN
2,1995,acura,integra_gs_r,subcompact,1_8,4,m5,z,10_8,8_3,9_7,29,223,NaN,NaN
3,1995,acura,legend,compact,3_2,6,a4,z,14_2,10_5,12_5,23,288,NaN,NaN
4,1995,acura,legend_coupe,compact,3_2,6,a4,z,14_6,11_0,13_0,22,299,NaN,NaN
5,1995,acura,legend_coupe,compact,3_2,6,m6,z,15_0,9_9,12_7,22,292,NaN,NaN
6,1995,acura,nsx,two_seater,3_0,6,a4,z,15_1,10_9,13_2,21,304,NaN,NaN
7,1995,acura,nsx,two_seater,3_0,6,m5,z,14_5,10_6,12_7,22,292,NaN,NaN
8,1995,alfa_romeo,164_ls,compact,3_0,6,a4,z,17_4,11_8,14_9,19,343,NaN,NaN
9,1995,alfa_romeo,164_ls,compact,3_0,6,m5,z,15_4,10_6,13_3,21,306,NaN,NaN
10,1995,audi,90,compact,2_8,6,a4,z,14_5,9_7,12_3,23,283,NaN,NaN
11,1995,audi,90,compact,2_8,6,m5,z,13_6,9_7,11_9,24,274,NaN,NaN
12,1995,audi,90_quattro,compact,2_8,6,m5,z,13_9,10_1,12_2,23,281,NaN,NaN
13,1995,audi,a6,compact,2_8,6,a4,z,14_2,10_9,12_7,22,292,NaN,NaN
14,1995,audi,a6_quattro,compact,2_8,6,a4,z,14_3,11_4,13_0,22,299,NaN,NaN

In [36]:
#sebastian
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/consumption_electric.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,Model year,Make,Model,Vehicle class,Motor (kW),Transmission,Fuel type,City (kWh/100 km),Highway (kWh/100 km),Combined (kWh/100 km),City (Le/100 km),Highway (Le/100 km),Combined (Le/100 km),Range (km),CO2 emissions (g/km),CO2 rating,Smog rating,Recharge time (h)
0,2012,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,n/a,n/a,7
1,2012,Nissan,LEAF,Mid-size,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,117,0,n/a,n/a,7
2,2013,Ford,Focus Electric,Compact,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,122,0,n/a,n/a,4
3,2013,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,n/a,n/a,7
4,2013,Nissan,LEAF,Mid-size,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,117,0,n/a,n/a,7
5,2013,smart,fortwo electric drive cabriolet,Two-seater,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,109,0,n/a,n/a,8
6,2013,smart,fortwo electric drive coupe,Two-seater,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,109,0,n/a,n/a,8
7,2013,Tesla,Model S (40 kWh),Full-size,225,A1,B,22.4,21.9,22.2,2.5,2.5,2.5,224,0,n/a,n/a,6
8,2013,Tesla,Model S (60 kWh),Full-size,225,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,335,0,n/a,n/a,10
9,2013,Tesla,Model S (85 kWh),Full-size,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,426,0,n/a,n/a,12
10,2013,Tesla,Model S Performance,Full-size,310,A1,B,23.9,23.2,23.6,2.7,2.6,2.6,426,0,n/a,n/a,12
11,2014,Chevrolet,Spark EV,Subcompact,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,131,0,n/a,n/a,7
12,2014,Ford,Focus Electric,Compact,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,122,0,n/a,n/a,4
13,2014,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,n/a,n/a,7
14,2014,Nissan,LEAF,Mid-size,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,135,0,n/a,n/a,5

In [37]:
import zipfile

In [38]:
# Ruta al archivo ZIP
ruta_zip = '..\\datasets\\raw\\archive.zip'

# Lista para almacenar los datos de los archivos CSV
datos_csv = []

# Abrir el archivo ZIP y leer los archivos CSV
with zipfile.ZipFile(ruta_zip, 'r') as zip_ref:
    # Recorrer cada archivo en el ZIP
    for nombre_archivo in zip_ref.namelist():
        # Extraer el archivo
        with zip_ref.open(nombre_archivo) as archivo_csv:
            # Leer el archivo CSV y almacenar los datos en un DataFrame
            datos = pd.read_csv(archivo_csv, sep=',', encoding='utf-8')
            # Agregar los datos ala lista
            datos_csv.append(datos)

# Concatenar todos los DataFrames en uno solo
df_emisiones = pd.concat(datos_csv, ignore_index=True)

In [39]:
df_emisiones.head()

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188
2,2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547,1081.593377
3,3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547,2455.243565
4,4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547,0.000000

In [40]:
print("Modelo de datos de: archive.zip")
print("Cantidad de registros :", df_emisiones.shape[0], "Cantidad de las Columnas :", df_emisiones.shape[1])
print("\n")
df_emisiones.info()
print("\n")
df_emisiones.head(2)

Modelo de datos de: archive.zip
Cantidad de registros : 55440 Cantidad de las Columnas : 11


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   55440 non-null  int64
 1   Country                      55440 non-null  object
 2   Energy_type                  55440 non-null  object
 3   Year                         55440 non-null  int64
 4   Energy_consumption           44287 non-null  float64
 5   Energy_production            44289 non-null  float64
 6   GDP                          40026 non-null  float64
 7   Population                   46014 non-null  float64
 8   Energy_intensity_per_capita  50358 non-null  float64
 9   Energy_intensity_by_GDP      50358 non-null  float64
 10  CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(2), object(2)
memory usage: 4.7+ MB

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188

In [41]:
df_emisiones['Year'].unique()

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [42]:
# Lista de países más relevantes en emisiones de carbono y energía
paises_relevantes = ['United States', 'World', 'China', 'India', 'Russia', 'Japan', 'Germany', 
                     'Canada', 'United Kingdom', 'South Korea']


# Filtrar el dataframe para incluir solo los países relevantes
df_relevantes = df_emisiones[df_emisiones['Country'].isin(paises_relevantes)]

# Filtrar solo los datos a partir de 2010
data_desde_2010 = df_relevantes[df_relevantes['Year'] >= 2010]

# Seleccionar las columnas numéricas 
columns_drop = ['Country', 'Year','Energy_type','Energy_consumption','Energy_production', 'GDP', 'Population', 'CO2_emission']

# Filtrar el DataFrame original para seleccionar solo las columnas especificadas
new_df_emisiones = data_desde_2010[columns_drop]

In [43]:
import re
from unidecode import unidecode

def limpiar_nombre(nombre):
    """
    Limpia y formatea el nombre de una columna.

    Parameters:
    - nombre (str): El nombre de la columna a limpiar.

    Returns:
    str: El nombre de la columna limpio y formateado.
    """
    nombre = re.sub(r'\W+', '_', str(nombre))  # Asegurarse de que el nombre sea una cadena
    nombre = unidecode(nombre)
    nombre = nombre.lower()
    return nombre

# Aplicar limpieza y formateo a todas las celdas del DataFrame
df = new_df_emisiones.apply(lambda x: x.map(limpiar_nombre) if x.dtype == "object" else x)

# Renombrar las columnas del DataFrame con los nombres limpios y formateados
df.columns = [limpiar_nombre(col) for col in df.columns]

In [44]:
df.head(15)

,country,year,energy_type,energy_consumption,energy_production,gdp,population,co2_emission
41580,world,2010,all_energy_types,526.730468,518.731658,94617.526435,6948810.014,30621.827234
41581,world,2010,coal,157.784008,156.210012,94617.526435,6948810.014,13867.179120
41582,world,2010,natural_gas,119.423879,116.945679,94617.526435,6948810.014,5782.117372
41583,world,2010,petroleum_n_other_liquids,177.932743,171.408876,94617.526435,6948810.014,10972.530743
41584,world,2010,nuclear,27.379918,27.379918,94617.526435,6948810.014,0.000000
41585,world,2010,renewables_n_other,45.251165,46.787173,94617.526435,6948810.014,0.000000
41796,canada,2010,all_energy_types,13.791382,18.289495,1433.922000,34004.900,541.451147
41797,canada,2010,coal,0.950776,1.437012,1433.922000,34004.900,90.489059
41798,canada,2010,natural_gas,3.552595,5.571874,1433.922000,34004.900,170.209203
41799,canada,2010,petroleum_n_other_liquids,4.801997,6.679306,1433.922000,34004.900,280.752885
41800,canada,2010,nuclear,0.965256,0.965256,1433.922000,34004.900,0.000000
41801,canada,2010,renewables_n_other,3.520758,3.636047,1433.922000,34004.900,0.000000
41826,china,2010,all_energy_types,111.972192,97.032727,12228.770000,1369778.000,8204.136740
41827,china,2010,coal,81.119270,76.355779,12228.770000,1369778.000,6923.858506
41828,china,2010,natural_gas,3.938045,3.484123,12228.770000,1369778.000,173.278233

In [45]:
df.year.unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int64)

In [47]:
# Suponiendo que 'df' es tu DataFrame
country = df['country'] == 'united_states'

In [49]:
country
filtered_df = df[country]
filtered_df

,country,year,energy_type,energy_consumption,energy_production,gdp,population,co2_emission
42900,united_states,2010,all_energy_types,97.512986,74.907485,16383.04,309274.2,5403.664819
42901,united_states,2010,coal,20.833968,22.038226,16383.04,309274.2,1875.159584
42902,united_states,2010,natural_gas,24.574754,21.805763,16383.04,309274.2,1233.390342
42903,united_states,2010,petroleum_n_other_liquids,36.444218,14.315301,16383.04,309274.2,2295.114893
42904,united_states,2010,nuclear,8.434433,8.434433,16383.04,309274.2,0.000000
42905,united_states,2010,renewables_n_other,8.266859,8.313762,16383.04,309274.2,0.000000
44286,united_states,2011,all_energy_types,96.870121,78.105859,16636.94,311695.5,5593.662183
44287,united_states,2011,coal,19.657784,22.221407,16636.94,311695.5,1985.938572
44288,united_states,2011,natural_gas,24.954539,23.405720,16636.94,311695.5,1292.438107
44289,united_states,2011,petroleum_n_other_liquids,35.845414,14.902370,16636.94,311695.5,2315.285504
44290,united_states,2011,nuclear,8.268698,8.268698,16636.94,311695.5,0.000000
44291,united_states,2011,renewables_n_other,9.211720,9.307664,16636.94,311695.5,0.000000
45672,united_states,2012,all_energy_types,94.383225,79.251054,17016.41,314178.5,5454.696471
45673,united_states,2012,coal,17.378234,20.676893,17016.41,314178.5,1875.601053
45674,united_states,2012,natural_gas,26.088582,24.610065,17016.41,314178.5,1312.327965
45675,united_states,2012,petroleum_n_other_liquids,35.039690,17.009401,17016.41,314178.5,2266.767453
45676,united_states,2012,nuclear,8.061822,8.061822,17016.41,314178.5,0.000000
45677,united_states,2012,renewables_n_other,8.856265,8.892873,17016.41,314178.5,0.000000
47058,united_states,2013,all_energy_types,97.125138,81.861244,17329.82,316569.0,5236.322549
47059,united_states,2013,coal,18.038633,20.001304,17329.82,316569.0,1657.873276
47060,united_states,2013,natural_gas,26.805134,24.859072,17329.82,316569.0,1371.560957
47061,united_states,2013,petroleum_n_other_liquids,35.700419,19.323713,17329.82,316569.0,2206.888316
47062,united_states,2013,nuclear,8.244433,8.244433,17329.82,316569.0,0.000000
47063,united_states,2013,renewables_n_other,9.458962,9.432722,17329.82,316569.0,0.000000
48444,united_states,2014,all_energy_types,98.288041,87.748008,17726.25,319083.2,5358.870231
48445,united_states,2014,coal,17.997632,20.285705,17726.25,319083.2,1717.844544
48446,united_states,2014,natural_gas,27.382833,26.718073,17726.25,319083.2,1408.379797
48447,united_states,2014,petroleum_n_other_liquids,35.977828,22.617902,17726.25,319083.2,2232.645890
48448,united_states,2014,nuclear,8.337559,8.337559,17726.25,319083.2,0.000000
48449,united_states,2014,renewables_n_other,9.752190,9.788768,17726.25,319083.2,0.000000
49830,united_states,2015,all_energy_types,97.392089,88.280467,18206.03,321618.0,5413.878798
49831,united_states,2015,coal,15.548870,17.946095,18206.03,321618.0,1713.367094
49832,united_states,2015,natural_gas,28.191095,28.066882,18206.03,321618.0,1437.536155
49833,united_states,2015,petroleum_n_other_liquids,36.740258,24.176731,18206.03,321618.0,2262.975549
49834,united_states,2015,nuclear,8.336886,8.336886,18206.03,321618.0,0.000000
49835,united_states,2015,renewables_n_other,9.737412,9.753873,18206.03,321618.0,0.000000
51216,united_states,2016,all_energy_types,97.363341,84.316451,18509.63,324117.8,5262.075715
51217,united_states,2016,coal,14.225905,14.667089,18509.63,324117.8,1481.897920
51218,united_states,2016,natural_gas,28.400352,27.576023,18509.63,324117.8,1478.884313
51219,united_states,2016,petroleum_n_other_liquids,37.194181,23.187220,18509.63,324117.8,2301.293482
51220,united_states,2016,nuclear,8.426753,8.426753,18509.63,324117.8,0.000000
51221,united_states,2016,renewables_n_other,10.390662,10.459366,18509.63,324117.8,0.000000
52602,united_states,2017,all_energy_types,97.633739,88.102915,18927.11,326379.8,5169.496984
52603,united_states,2017,coal,13.837465,15.625377,18927.11,326379.8,1355.200263
52604,united_states,2017,natural_gas,28.055093,28.289335,18927.11,326379.8,1489.851251
52605,united_states,2017,petroleum_n_other_liquids,37.522871,24.532609,18927.11,326379.8,2324.445470
52606,united_states,2017,nuclear,8.418968,8.418968,18927.11,326379.8,0.000000
52607,united_states,2017,renewables_n_other,11.115512,11.236626,18927.11,326379.8,0.000000
53988,united_states,2018,all_energy_types,101.203413,95.748508,19479.58,328317.2,5131.080980
53989,united_states,2018,coal,13.251532,15.363442,19479.58,328317.2,1317.951988
53990,united_states,2018,natural_gas,31.153422,31.882148,19479.58,328317.2,1470.964449
53991,united_states,2018,petroleum_n_other_liquids,38.354617,28.512675,19479.58,328317.2,2342.164543
53992,united_states,2018,nuclear,8.438068,8.438068,19479.58,328317.2,0.000000
53993,united_states,2018,renewables_n_other,11.342541,11.552175,19479.58,328317.2,0.000000
55374,united_states,2019,all_energy_types,100.434068,101.400918,19925.43,330043.8,5277.192754
55375,united_states,2019,coal,11.315595,14.255763,19925.43,330043.8,1262.555409
55376,united_states,2019,natural_gas,32.252007,35.187183,19925.43,330043.8,1626.410978
55377,united_states,2019,petroleum_n_other_liquids,38.329386,31.910982,19925.43,330043.8,2388.226367
55378,united_states,2019,nuclear,8.451852,8.451852,19925.43,330043.8,0.000000
55379,united_states,2019,renewables_n_other,11.436136,11.595138,19925.43,330043.8,0.000000