In [1]:
import os
import polars as pl
import polars.selectors as cs
import pandas as pd
from datetime import date, time
import numpy as np
import pyarrow.parquet as pq

In [2]:
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/temperature.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)

In [3]:
df_polars.head()

shape: (5, 2)
┌─────────────────────────┬────────────────┐
│ event_date              ┆ temperature_2m │
│ ---                     ┆ ---            │
│ datetime[ns, UTC]       ┆ f32            │
╞═════════════════════════╪════════════════╡
│ 2021-01-01 00:00:00 UTC ┆ 3.696          │
│ 2021-01-01 01:00:00 UTC ┆ 3.496          │
│ 2021-01-01 02:00:00 UTC ┆ 2.946          │
│ 2021-01-01 03:00:00 UTC ┆ 0.946          │
│ 2021-01-01 04:00:00 UTC ┆ 0.096          │
└─────────────────────────┴────────────────┘

In [4]:
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()

In [5]:
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   event_date      26280 non-null  datetime64[ns, UTC]
 1   temperature_2m  26280 non-null  float32
dtypes: datetime64[ns, UTC](1), float32(1)
memory usage: 308.1 KB

In [6]:
df_pandas.head(15)

                  event_date  temperature_2m
0  2021-01-01 00:00:00+00:00           3.696
1  2021-01-01 01:00:00+00:00           3.496
2  2021-01-01 02:00:00+00:00           2.946
3  2021-01-01 03:00:00+00:00           0.946
4  2021-01-01 04:00:00+00:00           0.096
5  2021-01-01 05:00:00+00:00          -0.704
6  2021-01-01 06:00:00+00:00          -1.254
7  2021-01-01 07:00:00+00:00          -1.654
8  2021-01-01 08:00:00+00:00          -2.104
9  2021-01-01 09:00:00+00:00          -2.404
10 2021-01-01 10:00:00+00:00          -2.504
11 2021-01-01 11:00:00+00:00          -2.254
12 2021-01-01 12:00:00+00:00          -1.454
13 2021-01-01 13:00:00+00:00          -1.504
14 2021-01-01 14:00:00+00:00           0.196

In [ ]:
# https://www.kaggle.com/datasets/lobosi/c02-emission-by-countrys-grouth-and-population

In [9]:
#
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/co2_emission.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,country,year,energy_type,energy_consumption,energy_production,gdp,population,co2_emission
0,world,2010,all_energy_types,526.730468,518.731658,94617.526435,6948810.014,30621.827234
1,world,2010,coal,157.784008,156.210012,94617.526435,6948810.014,13867.179120
2,world,2010,natural_gas,119.423879,116.945679,94617.526435,6948810.014,5782.117372
3,world,2010,petroleum_n_other_liquids,177.932743,171.408876,94617.526435,6948810.014,10972.530743
4,world,2010,nuclear,27.379918,27.379918,94617.526435,6948810.014,0.000000
5,world,2010,renewables_n_other,45.251165,46.787173,94617.526435,6948810.014,0.000000
6,canada,2010,all_energy_types,13.791382,18.289495,1433.922000,34004.900,541.451147
7,canada,2010,coal,0.950776,1.437012,1433.922000,34004.900,90.489059
8,canada,2010,natural_gas,3.552595,5.571874,1433.922000,34004.900,170.209203
9,canada,2010,petroleum_n_other_liquids,4.801997,6.679306,1433.922000,34004.900,280.752885
10,canada,2010,nuclear,0.965256,0.965256,1433.922000,34004.900,0.000000
11,canada,2010,renewables_n_other,3.520758,3.636047,1433.922000,34004.900,0.000000
12,china,2010,all_energy_types,111.972192,97.032727,12228.770000,1369778.000,8204.136740
13,china,2010,coal,81.119270,76.355779,12228.770000,1369778.000,6923.858506
14,china,2010,natural_gas,3.938045,3.484123,12228.770000,1369778.000,173.278233

In [15]:
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/urban_acoustic.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,borough,latitude,longitude,year,week,day,hour,1-1_small-sounding-engine_presence,1-2_medium-sounding-engine_presence,1-3_large-sounding-engine_presence,...,2_machinery-impact_presence,3_non-machinery-impact_presence,4_powered-saw_presence,5_alert-signal_presence,6_music_presence,7_human-voice_presence,8_dog_presence,sensor_id,audio_filename,annotator_id
0,1,40.72951,-73.99388,2019,43,4,8,-1,-1,-1,...,1,0,-1,-1,-1,-1,-1,0,00_026884.wav,-6
1,1,40.72951,-73.99388,2019,43,4,8,0,0,1,...,-1,-1,-1,-1,-1,-1,-1,0,00_026884.wav,-4
2,1,40.72951,-73.99388,2019,43,4,8,0,1,0,...,-1,-1,-1,-1,-1,-1,-1,0,00_026884.wav,-3
3,1,40.72951,-73.99388,2019,43,4,8,-1,-1,-1,...,0,0,-1,-1,-1,-1,-1,0,00_026884.wav,-1
4,1,40.72951,-73.99388,2019,43,4,8,0,1,1,...,0,1,0,0,0,0,0,0,00_026884.wav,0
5,1,40.72951,-73.99388,2019,43,4,8,0,1,1,...,1,0,0,0,0,0,0,0,00_026884.wav,6424
6,1,40.72951,-73.99388,2019,43,4,8,0,1,0,...,0,1,0,0,0,0,0,0,00_026884.wav,6514
7,1,40.72951,-73.99388,2019,43,4,8,0,1,0,...,0,0,0,0,0,0,0,0,00_026884.wav,6516
8,1,40.72951,-73.99388,2019,20,1,20,-1,-1,-1,...,0,0,-1,-1,-1,-1,-1,0,00_026919.wav,-6
9,1,40.72951,-73.99388,2019,20,1,20,0,0,1,...,-1,-1,-1,-1,-1,-1,-1,0,00_026919.wav,-4
10,1,40.72951,-73.99388,2019,20,1,20,0,1,0,...,-1,-1,-1,-1,-1,-1,-1,0,00_026919.wav,-3
11,1,40.72951,-73.99388,2019,20,1,20,-1,-1,-1,...,0,0,-1,-1,-1,-1,-1,0,00_026919.wav,-1
12,1,40.72951,-73.99388,2019,20,1,20,0,1,1,...,0,0,0,0,0,0,0,0,00_026919.wav,0
13,1,40.72951,-73.99388,2019,20,1,20,0,0,1,...,0,0,0,0,0,0,0,0,00_026919.wav,6425
14,1,40.72951,-73.99388,2019,20,1,20,0,0,0,...,1,0,0,0,0,0,0,0,00_026919.wav,6479

In [12]:
#duvan
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/air_quality.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,geo_place_name,geo_type_name,start_date,indicator_id,name,measure,measure_info,data_value,unique_id,geo_join_id
0,Bedford Stuyvesant - Crown Heights,UHF34,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,25.30,172653,203
1,Bedford Stuyvesant - Crown Heights,UHF34,2008-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,26.93,172585,203
2,East New York,UHF34,2015-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,19.09,336637,204
3,Fordham - Bronx Pk,UHF34,2015-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,19.76,336622,103
4,Pelham - Throgs Neck,UHF34,2008-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,22.83,172582,104
5,Pelham - Throgs Neck,UHF34,2020-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,16.19,667327,104
6,Chelsea-Village,UHF34,2008-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,38.16,172607,306308
7,Chelsea-Village,UHF34,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,34.96,172675,306308
8,Borough Park,UHF42,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,30.10,175345,206
9,Borough Park,UHF42,2012-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,20.23,176689,206
10,High Bridge - Morrisania,UHF42,2012-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,23.73,176682,106
11,High Bridge - Morrisania,UHF42,2014-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,26.00,336507,106
12,High Bridge - Morrisania,UHF42,2021-01-01,375,Nitrogen dioxide (NO2),Mean,ppb,18.04,740910,106
13,Bensonhurst - Bay Ridge,UHF42,2010-12-01,375,Nitrogen dioxide (NO2),Mean,ppb,28.44,175348,209
14,Bensonhurst - Bay Ridge,UHF42,2009-06-01,375,Nitrogen dioxide (NO2),Mean,ppb,18.95,175894,209

In [13]:
# 
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/fuel_consumption.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,model_year,make,model,vehicle_class,engine_size_l,cylinders,transmission,fuel_type,city_l_100_km,highway_l_100_km,combined_l_100_km,combined_mpg,co2_emissions_g_km,co2_rating,smog_rating
0,1995,acura,integra,subcompact,1_8,4,a4,x,11_6,8_3,10_1,28,232,NaN,NaN
1,1995,acura,integra,subcompact,1_8,4,m5,x,11_0,8_3,9_8,29,225,NaN,NaN
2,1995,acura,integra_gs_r,subcompact,1_8,4,m5,z,10_8,8_3,9_7,29,223,NaN,NaN
3,1995,acura,legend,compact,3_2,6,a4,z,14_2,10_5,12_5,23,288,NaN,NaN
4,1995,acura,legend_coupe,compact,3_2,6,a4,z,14_6,11_0,13_0,22,299,NaN,NaN
5,1995,acura,legend_coupe,compact,3_2,6,m6,z,15_0,9_9,12_7,22,292,NaN,NaN
6,1995,acura,nsx,two_seater,3_0,6,a4,z,15_1,10_9,13_2,21,304,NaN,NaN
7,1995,acura,nsx,two_seater,3_0,6,m5,z,14_5,10_6,12_7,22,292,NaN,NaN
8,1995,alfa_romeo,164_ls,compact,3_0,6,a4,z,17_4,11_8,14_9,19,343,NaN,NaN
9,1995,alfa_romeo,164_ls,compact,3_0,6,m5,z,15_4,10_6,13_3,21,306,NaN,NaN
10,1995,audi,90,compact,2_8,6,a4,z,14_5,9_7,12_3,23,283,NaN,NaN
11,1995,audi,90,compact,2_8,6,m5,z,13_6,9_7,11_9,24,274,NaN,NaN
12,1995,audi,90_quattro,compact,2_8,6,m5,z,13_9,10_1,12_2,23,281,NaN,NaN
13,1995,audi,a6,compact,2_8,6,a4,z,14_2,10_9,12_7,22,292,NaN,NaN
14,1995,audi,a6_quattro,compact,2_8,6,a4,z,14_3,11_4,13_0,22,299,NaN,NaN

In [14]:
#sebastian
# Leer el archivo Arrow
arrow_table = pq.read_table('../datasets/processed/consumption_electric.arrow')

# Convertir el objeto Arrow a un DataFrame de Polars
df_polars = pl.from_arrow(arrow_table)
# Convertir el DataFrame de Polar a un DataFrame de Pandas
df_pandas = df_polars.to_pandas()
df_pandas.head(15)

,Model year,Make,Model,Vehicle class,Motor (kW),Transmission,Fuel type,City (kWh/100 km),Highway (kWh/100 km),Combined (kWh/100 km),City (Le/100 km),Highway (Le/100 km),Combined (Le/100 km),Range (km),CO2 emissions (g/km),CO2 rating,Smog rating,Recharge time (h)
0,2012,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,n/a,n/a,7
1,2012,Nissan,LEAF,Mid-size,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,117,0,n/a,n/a,7
2,2013,Ford,Focus Electric,Compact,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,122,0,n/a,n/a,4
3,2013,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,n/a,n/a,7
4,2013,Nissan,LEAF,Mid-size,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,117,0,n/a,n/a,7
5,2013,smart,fortwo electric drive cabriolet,Two-seater,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,109,0,n/a,n/a,8
6,2013,smart,fortwo electric drive coupe,Two-seater,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,109,0,n/a,n/a,8
7,2013,Tesla,Model S (40 kWh),Full-size,225,A1,B,22.4,21.9,22.2,2.5,2.5,2.5,224,0,n/a,n/a,6
8,2013,Tesla,Model S (60 kWh),Full-size,225,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,335,0,n/a,n/a,10
9,2013,Tesla,Model S (85 kWh),Full-size,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,426,0,n/a,n/a,12
10,2013,Tesla,Model S Performance,Full-size,310,A1,B,23.9,23.2,23.6,2.7,2.6,2.6,426,0,n/a,n/a,12
11,2014,Chevrolet,Spark EV,Subcompact,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,131,0,n/a,n/a,7
12,2014,Ford,Focus Electric,Compact,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,122,0,n/a,n/a,4
13,2014,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,n/a,n/a,7
14,2014,Nissan,LEAF,Mid-size,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,135,0,n/a,n/a,5